extends ../partials/layout-docs

//- Override default config variables
append config
  - var pageTitle = 'Sources and credits'
  - var isNestedFile = true
  
//- Page Content
block content
  .pb-5
    p While making this template we used 3rd party plugins, images, icons, fonts, etc... and want to thank their creators.

    h2.h4.pt-4 Plugins, Libraries and Frameworks:
    ul.list-unstyled
      li
        span.fw-medium Node.js - 
        a(href='https://nodejs.org/en/' target='_blank' rel='noopener') https://nodejs.org/en/
      li
        span.fw-medium Gulp - 
        a(href='https://gulpjs.com/' target='_blank' rel='noopener') https://gulpjs.com/
      li
        span.fw-medium Pug - 
        a(href='https://pugjs.org/api/getting-started.html' target='_blank' rel='noopener') https://pugjs.org/api/getting-started.html
      li
        span.fw-medium Sass - 
        a(href='http://sass-lang.com/' target='_blank' rel='noopener') http://sass-lang.com/
      li
        span.fw-medium Bootstrap - 
        a(href='https://getbootstrap.com/' target='_blank' rel='noopener') https://getbootstrap.com/
      li
        span.fw-medium Smooth Scroll - 
        a(href='https://github.com/cferdinandi/smooth-scroll/' target='_blank' rel='noopener') https://github.com/cferdinandi/smooth-scroll/
      li
        span.fw-medium Tiny Slider - 
        a(href='https://github.com/ganlanyuan/tiny-slider' target='_blank' rel='noopener') https://github.com/ganlanyuan/tiny-slider
      li
        span.fw-medium Lightgallery.js - 
        a(href='https://sachinchoolur.github.io/lightgallery.js/' target='_blank' rel='noopener') https://sachinchoolur.github.io/lightgallery.js/
      li
        span.fw-medium noUiSlider - 
        a(href='https://refreshless.com/nouislider/' target='_blank' rel='noopener') https://refreshless.com/nouislider/
      li
        span.fw-medium Simplebar (Custom Scrollbar) - 
        a(href='https://github.com/Grsmto/simplebar' target='_blank' rel='noopener') https://github.com/Grsmto/simplebar
      li
        span.fw-medium Popper.js - 
        a(href='https://popper.js.org/' target='_blank' rel='noopener') https://popper.js.org/
      li
        span.fw-medium Prism.js - 
        a(href='https://prismjs.com/' target='_blank' rel='noopener') https://prismjs.com/
      li
        span.fw-medium Interactive Credit Card - 
        a(href='https://github.com/jessepollak/card' target='_blank' rel='noopener') https://github.com/jessepollak/card
      li
        span.fw-medium Drift (Zoom on hover) - 
        a(href='https://github.com/imgix/drift' target='_blank' rel='noopener') https://github.com/imgix/drift
      li
        span.fw-medium Shuffle.js (Masonry grid) - 
        a(href='https://vestride.github.io/Shuffle/' target='_blank' rel='noopener') https://vestride.github.io/Shuffle/
      li
        span.fw-medium imagesLoaded - 
        a(href='https://imagesloaded.desandro.com/' target='_blank' rel='noopener') https://imagesloaded.desandro.com/
      li
        span.fw-medium Chartist.js - 
        a(href='https://github.com/gionkunz/chartist-js' target='_blank' rel='noopener') https://github.com/gionkunz/chartist-js

    h2.h4.pt-4 Google Fonts:
    ul.list-unstyled
      li
        span.fw-medium Rubik - 
        a(href='https://fonts.google.com/specimen/Rubik' target='_blank' rel='noopener') https://fonts.google.com/specimen/Rubik

    h2.h4.pt-4 Font Icons:
    ul.list-unstyled
      li
        span.fw-medium Essential Icons - 
        a(href='https://freeui.design/250-essential-icons-set/' target='_blank' rel='noopener') https://freeui.design/250-essential-icons-set/
      li
        span.fw-medium Flaticon Icons - 
        a(href='https://www.flaticon.com/' target='_blank' rel='noopener') https://www.flaticon.com/

    h2.h4.pt-4 Graphic Assets:

    h3.h6 Homepages
    ul.list-unstyled
      li
        a(href='https://www.pexels.com/photo/woman-holding-lollipop-1841349/' target='_blank' rel='noopener') https://www.pexels.com/photo/woman-holding-lollipop-1841349/
      li
        a(href='https://www.pexels.com/photo/black-woman-wearing-hoodie-jacket-2306109/' target='_blank' rel='noopener') https://www.pexels.com/photo/black-woman-wearing-hoodie-jacket-2306109/
      li
        a(href='https://unsplash.com/photos/_7LbC5J-jw4' target='_blank' rel='noopener') https://unsplash.com/photos/_7LbC5J-jw4
      li
        a(href='https://www.anthonyboyd.graphics/mockups/top-view-ipad-pro-2018-mockup-set-vol-2/' target='_blank' rel='noopener') https://www.anthonyboyd.graphics/mockups/top-view-ipad-pro-2018-mockup-set-vol-2/
      li
        a(href='https://www.pixeden.com/psd-mock-up-templates/ui-isometric-psd-devices-pack-vol5' target='_blank' rel='noopener') https://www.pixeden.com/psd-mock-up-templates/ui-isometric-psd-devices-pack-vol5
      li
        a(href='https://unsplash.com/photos/kJ2xdKJZZ9k' target='_blank' rel='noopener') https://unsplash.com/photos/kJ2xdKJZZ9k
      li
        a(href='https://www.pexels.com/photo/woman-wearing-black-sleeveless-dress-holding-white-headphone-at-daytime-1001850/' target='_blank' rel='noopener') https://www.pexels.com/photo/woman-wearing-black-sleeveless-dress-holding-white-headphone-at-daytime-1001850/
      li
        a(href='https://www.pexels.com/photo/person-holding-silver-iphone-7-887751/' target='_blank' rel='noopener') https://www.pexels.com/photo/person-holding-silver-iphone-7-887751/
      li
        a(href='https://www.sketchappsources.com/free-source/4099-flat-iphone-11-pro-mockup-sketch-freebie-resource.html' target='_blank' rel='noopener') https://www.sketchappsources.com/free-source/4099-flat-iphone-11-pro-mockup-sketch-freebie-resource.html
      li
        a(href='https://unsplash.com/photos/uTPkovVRhR8' target='_blank' rel='noopener') https://unsplash.com/photos/uTPkovVRhR8
      li
        a(href='https://unsplash.com/photos/2awzIErSaG0' target='_blank' rel='noopener') https://unsplash.com/photos/2awzIErSaG0
      li
        a(href='https://www.pexels.com/photo/man-wearing-gray-sweatshirt-and-headphones-374888/' target='_blank' rel='noopener') https://www.pexels.com/photo/man-wearing-gray-sweatshirt-and-headphones-374888/
      li
        a(href='https://www.freepik.com/free-photo/side-view-photo-girl-listening-music-with-headphones_6819398.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/side-view-photo-girl-listening-music-with-headphones_6819398.htm
      li
        a(href='https://unsplash.com/photos/CgKpB3iSX5c' target='_blank' rel='noopener') https://unsplash.com/photos/CgKpB3iSX5c
      li
        a(href='https://www.pexels.com/photo/smiling-woman-using-headphones-3394668/' target='_blank' rel='noopener') https://www.pexels.com/photo/smiling-woman-using-headphones-3394668/
      li
        a(href='https://www.freepik.com/free-photo/medium-shot-woman-with-headphones-book_5551587.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/medium-shot-woman-with-headphones-book_5551587.htm
      li
        a(href='https://www.beatsbydre.com/' target='_blank' rel='noopener') https://www.beatsbydre.com/
      li
        a(href='https://www.freepik.com/free-photo/portrait-beautiful-family-holding-paper-shopping-bag_6729742.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/portrait-beautiful-family-holding-paper-shopping-bag_6729742.htm
      li
        a(href='https://www.freepik.com/free-photo/happy-delivery-man-pointing-grocery-bag-hand_6292832.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/happy-delivery-man-pointing-grocery-bag-hand_6292832.htm
      li
        a(href='https://www.flaticon.com/packs/grocery-18' target='_blank' rel='noopener') https://www.flaticon.com/packs/grocery-18

    h3.h6 Shop catalog
    ul.list-unstyled
      li
        a(href='https://www2.hm.com/' target='_blank' rel='noopener') https://www2.hm.com/
      li
        a(href='https://www.6pm.com' target='_blank' rel='noopener') https://www.6pm.com
      li
        a(href='https://usa.tommy.com/' target='_blank' rel='noopener') https://usa.tommy.com/

    h3.h6 Shop categories
    ul.list-unstyled
      li
        a(href='https://www.pexels.com/photo/man-wearing-blue-lacoste-polo-shirt-and-silver-colored-analog-watch-1232459/' target='_blank' rel='noopener') https://www.pexels.com/photo/man-wearing-blue-lacoste-polo-shirt-and-silver-colored-analog-watch-1232459/
      li
        a(href='https://www.pexels.com/photo/woman-in-blue-and-white-striped-top-raising-her-left-hand-1462637/' target='_blank' rel='noopener') https://www.pexels.com/photo/woman-in-blue-and-white-striped-top-raising-her-left-hand-1462637/
      li
        a(href='https://unsplash.com/photos/sF5X5zTVtmc' target='_blank' rel='noopener') https://unsplash.com/photos/sF5X5zTVtmc
      li
        a(href='https://www.freepik.com/free-photo/young-man-sitting-top-rock-looking-view_5223515.htm' target='_blank' rel='noopener') https://www.freepik.com/free-photo/young-man-sitting-top-rock-looking-view_5223515.htm

    h3.h6 Marketplace
    ul.list-unstyled
      li
        a(href='https://www.pixeden.com/psd-mock-up-templates/ui-isometric-psd-devices-pack-vol5' target='_blank' rel='noopener') https://www.pixeden.com/psd-mock-up-templates/ui-isometric-psd-devices-pack-vol5
      li
        a(href='https://www.invisionapp.com/inside-design/design-resources/' target='_blank' rel='noopener') https://www.invisionapp.com/inside-design/design-resources/
      li
        a(href='https://www.anthonyboyd.graphics/mockups/top-view-apple-watch-series-5-mockup/' target='_blank' rel='noopener') https://www.anthonyboyd.graphics/mockups/top-view-apple-watch-series-5-mockup/
      li
        a(href='https://www.pixeden.com/psd-mock-up-templates/psd-hardcover-book-catalog-mockup-2' target='_blank' rel='noopener') https://www.pixeden.com/psd-mock-up-templates/psd-hardcover-book-catalog-mockup-2
      li
        a(href='https://www.pixeden.com/psd-mock-up-templates/psd-project-devices-showcase-vol3' target='_blank' rel='noopener') https://www.pixeden.com/psd-mock-up-templates/psd-project-devices-showcase-vol3
      li
        a(href='https://www.pixeden.com/psd-mock-up-templates/gravity-psd-devices-ui-mockup-set-v7' target='_blank' rel='noopener') https://www.pixeden.com/psd-mock-up-templates/gravity-psd-devices-ui-mockup-set-v7
      li
        a(href='https://www.anthonyboyd.graphics/mockups/floating-iphone-11-pro-max-and-ipad-pro-mockup/' target='_blank' rel='noopener') https://www.anthonyboyd.graphics/mockups/floating-iphone-11-pro-max-and-ipad-pro-mockup/
      li
        a(href='https://www.ls.graphics/free/simple-iphone-x-mockups' target='_blank' rel='noopener') https://www.ls.graphics/free/simple-iphone-x-mockups
      li
        a(href='https://www.pixeden.com/psd-mock-up-templates/ui-psd-iphone-x-monochrome' target='_blank' rel='noopener') https://www.pixeden.com/psd-mock-up-templates/ui-psd-iphone-x-monochrome
      li
        a(href='https://www.mockupdaddy.com/download/free-download-iphone-11-pro-clay-mockup/' target='_blank' rel='noopener') https://www.mockupdaddy.com/download/free-download-iphone-11-pro-clay-mockup/
      li
        a(href='https://www.mockupworld.co/free/girl-wearing-printed-t-shirt-mockup/' target='_blank' rel='noopener') https://www.mockupworld.co/free/girl-wearing-printed-t-shirt-mockup/
      li
        a(href='https://www.flaticon.com/packs/user-interface-7' target='_blank' rel='noopener') https://www.flaticon.com/packs/user-interface-7
      li
        a(href='https://unsplash.com/photos/Zk--Ydz2IAs' target='_blank' rel='noopener') https://unsplash.com/photos/Zk--Ydz2IAs
      li
        a(href='https://unsplash.com/photos/e2oAzYuYh3k' target='_blank' rel='noopener') https://unsplash.com/photos/e2oAzYuYh3k
      li
        a(href='https://unsplash.com/photos/Ajcipx1VDXI' target='_blank' rel='noopener') https://unsplash.com/photos/Ajcipx1VDXI

    h3.h6 Food Delivery
    ul.list-unstyled
      li
        a(href='https://unsplash.com/photos/Z5tSnuGuTTw' target='_blank' rel='noopener') https://unsplash.com/photos/Z5tSnuGuTTw
      li
        a(href='https://unsplash.com/photos/ICA6PtRBYLw' target='_blank' rel='noopener') https://unsplash.com/photos/ICA6PtRBYLw
      li
        a(href='https://unsplash.com/photos/NzHRSLhc6Cs' target='_blank' rel='noopener') https://unsplash.com/photos/NzHRSLhc6Cs
      li
        a(href='https://unsplash.com/photos/J9lD6FS6_cs' target='_blank' rel='noopener') https://unsplash.com/photos/J9lD6FS6_cs
      li
        a(href='https://unsplash.com/photos/JorKKx5rvA0' target='_blank' rel='noopener') https://unsplash.com/photos/JorKKx5rvA0
      li
        a(href='https://www.pexels.com/photo/delicious-coconut-mousse-cake-with-disposable-cup-of-coffee-4551124/' target='_blank' rel='noopener') https://www.pexels.com/photo/delicious-coconut-mousse-cake-with-disposable-cup-of-coffee-4551124/
      li
        a(href='https://www.pexels.com/photo/top-view-photo-of-assorted-fruits-1171170/' target='_blank' rel='noopener') https://www.pexels.com/photo/top-view-photo-of-assorted-fruits-1171170/
      li
        a(href='https://www.pexels.com/photo/baking-cheese-cooking-crust-315755/' target='_blank' rel='noopener') https://www.pexels.com/photo/baking-cheese-cooking-crust-315755/
      li
        a(href='https://www.pexels.com/photo/noodles-with-meat-and-mint-on-top-2664216/' target='_blank' rel='noopener') https://www.pexels.com/photo/noodles-with-meat-and-mint-on-top-2664216/
      li
        a(href='https://www.pexels.com/photo/delivery-man-wearing-a-face-mask-4393241/' target='_blank' rel='noopener') https://www.pexels.com/photo/delivery-man-wearing-a-face-mask-4393241/
      li
        a(href='https://www.pexels.com/photo/man-in-white-dress-shirt-wearing-eyeglasses-3814446/' target='_blank' rel='noopener') https://www.pexels.com/photo/man-in-white-dress-shirt-wearing-eyeglasses-3814446/
      li
        a(href='https://www.toptal.com/designers/subtlepatterns/?s=food' target='_blank' rel='noopener') https://www.toptal.com/designers/subtlepatterns/?s=food
      li
        a(href='https://psdrepo.com/free-psd/recipe-app-free-psd-ui-kit-freebie/' target='_blank' rel='noopener') https://psdrepo.com/free-psd/recipe-app-free-psd-ui-kit-freebie/
      li
        a(href='https://freebiesbug.com/psd-freebies/minimal-iphone-x-mockups/' target='_blank' rel='noopener') https://freebiesbug.com/psd-freebies/minimal-iphone-x-mockups/
      li
        a(href='https://www.graphicpear.com/line-minimal-food-icons-vector/' target='_blank' rel='noopener') https://www.graphicpear.com/line-minimal-food-icons-vector/
      li
        a(href='https://unsplash.com/s/photos/burger' target='_blank' rel='noopener') https://unsplash.com/s/photos/burger
      li
        a(href='https://www.freepngimg.com/food/pizza' target='_blank' rel='noopener') https://www.freepngimg.com/food/pizza

    h3.h6 Promo banner
    ul.list-unstyled
      li
        a(href='https://www.pexels.com/photo/close-up-photo-of-sneakers-2529146/' target='_blank' rel='noopener') https://www.pexels.com/photo/close-up-photo-of-sneakers-2529146/

    h3.h6 Blog pages
    ul.list-unstyled
      li
        a(href='https://www.pexels.com/photo/adult-cutting-daylight-facial-expression-1153369/' target='_blank' rel='noopener') https://www.pexels.com/photo/adult-cutting-daylight-facial-expression-1153369/
      li
        a(href='https://www.pexels.com/photo/working-macbook-computer-keyboard-34577/' target='_blank' rel='noopener') https://www.pexels.com/photo/working-macbook-computer-keyboard-34577/
      li
        a(href='https://unsplash.com/photos/49mCO5ZRQDk' target='_blank' rel='noopener') https://unsplash.com/photos/49mCO5ZRQDk
      li
        a(href='https://unsplash.com/photos/7YlHU_ZPS34' target='_blank' rel='noopener') https://unsplash.com/photos/7YlHU_ZPS34
      li
        a(href='https://unsplash.com/photos/yK1zLvFkXIQ' target='_blank' rel='noopener') https://unsplash.com/photos/yK1zLvFkXIQ

    h3.h6 People faces
    ul.list-unstyled
      li
        a(href='https://unsplash.com/photos/sLGYaQ_stMM' target='_blank' rel='noopener') https://unsplash.com/photos/sLGYaQ_stMM
      li
        a(href='https://unsplash.com/photos/9R-CH7PR150' target='_blank' rel='noopener') https://unsplash.com/photos/9R-CH7PR150
      li
        a(href='https://unsplash.com/photos/oJUTLMxMsgE' target='_blank' rel='noopener') https://unsplash.com/photos/oJUTLMxMsgE

    h3.h6 404 Error page illustration
    ul.list-unstyled
      li
        a(href='https://www.shutterstock.com/image-vector/empty-shopping-bag-basket-icon-cute-789717544' target='_blank' rel='noopener') https://www.shutterstock.com/image-vector/empty-shopping-bag-basket-icon-cute-789717544

    h3.h6 Pages
    ul.list-unstyled
      li
        a(href='https://www.pexels.com/photo/woman-in-yellow-blouse-and-blue-jeans-taking-selfie-while-sitting-on-car-787472/' target='_blank' rel='noopener') https://www.pexels.com/photo/woman-in-yellow-blouse-and-blue-jeans-taking-selfie-while-sitting-on-car-787472/

    h3.h6 Components docs
    ul.list-unstyled
      li
        a(href='https://unsplash.com/photos/tvG4WvjgsEY' target='_blank' rel='noopener') https://unsplash.com/photos/tvG4WvjgsEY
      li
        a(href='https://www.pexels.com/photo/photo-of-sneakers-on-white-background-2529148/' target='_blank' rel='noopener') https://www.pexels.com/photo/photo-of-sneakers-on-white-background-2529148/
      li
        a(href='https://www.pexels.com/photo/white-and-blue-floral-flap-sling-bag-hanging-on-white-steel-rack-904350/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-and-blue-floral-flap-sling-bag-hanging-on-white-steel-rack-904350/
      li
        a(href='https://www.pexels.com/photo/woman-wearing-white-blue-and-red-cold-sleeved-mini-dress-and-bag-set-1163194/' target='_blank' rel='noopener') https://www.pexels.com/photo/woman-wearing-white-blue-and-red-cold-sleeved-mini-dress-and-bag-set-1163194/
      li
        a(href='https://unsplash.com/photos/fr0J5-GIVyg' target='_blank' rel='noopener') https://unsplash.com/photos/fr0J5-GIVyg
      li
        a(href='https://unsplash.com/photos/w0gF-h1Oq28' target='_blank' rel='noopener') https://unsplash.com/photos/w0gF-h1Oq28
      li
        a(href='https://unsplash.com/photos/sf_1ZDA1YFw' target='_blank' rel='noopener') https://unsplash.com/photos/sf_1ZDA1YFw
      li
        a(href='https://www.mockupworld.co/free/girl-wearing-printed-t-shirt-mockup/' target='_blank' rel='noopener') https://www.mockupworld.co/free/girl-wearing-printed-t-shirt-mockup/
      li
        a(href='https://www.mockupworld.co/free/two-paper-bags-mockup/' target='_blank' rel='noopener') https://www.mockupworld.co/free/two-paper-bags-mockup/
      li
        a(href='https://www.mockupworld.co/free/business-card-branding-mockup-collection/' target='_blank' rel='noopener') https://www.mockupworld.co/free/business-card-branding-mockup-collection/
      li
        a(href='https://www.mockupworld.co/free/t-shirt-for-men-on-a-white-hanger-mockup/' target='_blank' rel='noopener') https://www.mockupworld.co/free/t-shirt-for-men-on-a-white-hanger-mockup/
      li
        a(href='https://www.mockupworld.co/free/clean-paper-cup-mockup/' target='_blank' rel='noopener') https://www.mockupworld.co/free/clean-paper-cup-mockup/
      li
        a(href='https://www.pixeden.com/psd-mock-up-templates/psd-product-manual-mockup' target='_blank' rel='noopener') https://www.pixeden.com/psd-mock-up-templates/psd-product-manual-mockup
      li
        a(href='https://www.pixeden.com/psd-mock-up-templates/folded-t-shirt-mockup-template-2' target='_blank' rel='noopener') https://www.pixeden.com/psd-mock-up-templates/folded-t-shirt-mockup-template-2
      li
        a(href='https://www.pixeden.com/psd-mock-up-templates/paperback-psd-book-mockup-vol6' target='_blank' rel='noopener') https://www.pixeden.com/psd-mock-up-templates/paperback-psd-book-mockup-vol6
      li
        a(href='https://unsplash.com/photos/aDZ5YIuedQg' target='_blank' rel='noopener') https://unsplash.com/photos/aDZ5YIuedQg
      li
        a(href='https://www.mockupworld.co/free/t-shirt-for-men-mockup/' target='_blank' rel='noopener') https://www.mockupworld.co/free/t-shirt-for-men-mockup/
      li
        a(href='https://www.pexels.com/photo/white-headphone-1037992/' target='_blank' rel='noopener') https://www.pexels.com/photo/white-headphone-1037992/
