extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['lightgallery/css/lightgallery-bundle.min.css']
  - var vendorScripts = ['lightgallery/lightgallery.min.js', 'lightgallery/plugins/fullscreen/lg-fullscreen.min.js', 'lightgallery/plugins/zoom/lg-zoom.min.js', 'lightgallery/plugins/video/lg-video.min.js']
  - var pageTitle = 'Blog list with sidebar'
  - var breadcrumbs = [{'title': 'Blog', 'link': '#'}, {'title': 'List with sidebar'}]
  - var parentMenu = 'Blog'

//- Navbar
block navbar
  include partials/navbar-3-level-light

//- Page title
block page-title
  include partials/page-title-light
  
//- Page Content
block content

  .container.pb-5.mb-2.mb-md-4

    //- featured-posts-carousel.pug template
    include partials/featured-posts-carousel
    
    hr.mt-5

    .row.pt-5.mt-2

      // Entries list
      section.col-lg-8

        // Entry
        article.blog-list.border-bottom.pb-4.mb-5
          .blog-start-column
            .d-flex.align-items-center.fs-sm.pb-2.mb-1
              a(href='#').blog-entry-meta-link
                .blog-entry-author-ava
                  img(src='img/blog/meta/01.jpg' alt='Emma Gallaher')
                | Emma Gallaher
              span.blog-entry-meta-divider
              a(href='#').blog-entry-meta-link Aug 15
            h2.h5.blog-entry-title
              a(href='blog-single-sidebar.html') Global Travel and Vacations on a Tight Budget
          .blog-end-column
            .d-flex.justify-content-between.mb-1
              .fs-sm.text-muted.pe-2.mb-2
                | in <a href='#' class='blog-entry-meta-link'>Travel</a>, <a href='#' class='blog-entry-meta-link'>Personal finance</a>
              .fs-sm.mb-2
                a(href='blog-single-sidebar.html#comments').blog-entry-meta-link.text-nowrap
                  i.ci-message
                  | 8
            p.fs-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt… <a href='blog-single-sidebar.html' class='blog-entry-meta-link fw-medium'>[Read more]</a>

        // Entry
        article.blog-list.border-bottom.pb-4.mb-5
          .blog-start-column
            .d-flex.align-items-center.fs-sm.pb-2.mb-1
              a(href='#').blog-entry-meta-link
                .blog-entry-author-ava
                  img(src='img/blog/meta/02.jpg' alt='Cynthia Gomez')
                | Cynthia Gomez
              span.blog-entry-meta-divider
              a(href='#').blog-entry-meta-link Jul 23
            h2.h5.blog-entry-title
              a(href='blog-single-sidebar.html') Top New Trends in Suburban High Fashion
          .blog-end-column
            a(href='blog-single-sidebar.html').blog-entry-thumb.mb-3
              img(src='img/blog/01.jpg' alt='Post')
            .d-flex.justify-content-between.mb-1
              .fs-sm.text-muted.pe-2.mb-2
                | in <a href='#' class='blog-entry-meta-link'>Shopping</a>, <a href='#' class='blog-entry-meta-link'>Fashion</a>
              .fs-sm.mb-2
                a(href='blog-single-sidebar.html#comments').blog-entry-meta-link.text-nowrap
                  i.ci-message
                  | 19
            p.fs-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation… <a href='blog-single-sidebar.html' class='blog-entry-meta-link fw-medium'>[Read more]</a>

        // Entry
        article.blog-list.border-bottom.pb-4.mb-5
          .blog-start-column
            .d-flex.align-items-center.fs-sm.pb-2.mb-1
              a(href='#').blog-entry-meta-link
                .blog-entry-author-ava
                  img(src='img/blog/meta/03.jpg' alt='Paul Woodred')
                | Paul Woodred
              span.blog-entry-meta-divider
              a(href='#').blog-entry-meta-link Jul 6
            h2.h5.blog-entry-title
              a(href='blog-single-sidebar.html') Shopping Tips. Places Where to Buy Cheap
          .blog-end-column
            a(href='blog-single-sidebar.html').blog-entry-thumb.mb-3
              img(src='img/blog/02.jpg' alt='Post')
            .d-flex.justify-content-between.mb-1
              .fs-sm.text-muted.pe-2.mb-2
                | in <a href='#' class='blog-entry-meta-link'>Shopping</a>, <a href='#' class='blog-entry-meta-link'>Personal finance</a>
              .fs-sm.mb-2
                a(href='blog-single-sidebar.html#comments').blog-entry-meta-link.text-nowrap
                  i.ci-message
                  | 15
            p.fs-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation… <a href='blog-single-sidebar.html' class='blog-entry-meta-link fw-medium'>[Read more]</a>

        // Entry
        article.blog-list.border-bottom.pb-4.mb-4
          .blog-start-column
            .d-flex.align-items-center.fs-sm.pb-2.mb-1
              a(href='#').blog-entry-meta-link
                .blog-entry-author-ava
                  img(src='img/blog/meta/04.jpg' alt='Olivia Reyes')
                | Olivia Reyes
              span.blog-entry-meta-divider
              a(href='#').blog-entry-meta-link Jun 12
            h2.h5.blog-entry-title
              a(href='blog-single-sidebar.html') Google Pay is Now Available in All Outlets
          .blog-end-column
            .d-flex.justify-content-between.mb-1
              .fs-sm.text-muted.pe-2.mb-2
                | in <a href='#' class='blog-entry-meta-link'>Cartzilla news</a>
              .fs-sm.mb-2
                a(href='blog-single-sidebar.html#comments').blog-entry-meta-link.text-nowrap
                  i.ci-message
                  | 7
            p.fs-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt… <a href='blog-single-sidebar.html' class='blog-entry-meta-link fw-medium'>[Read more]</a>

        // Entry
        article.blog-list.border-bottom.pb-4.mb-5
          .blog-start-column
            .d-flex.align-items-center.fs-sm.pb-2.mb-1
              a(href='#').blog-entry-meta-link
                .blog-entry-author-ava
                  img(src='img/blog/meta/05.jpg' alt='Rafael Marquez')
                | Rafael Marquez
              span.blog-entry-meta-divider
              a(href='#').blog-entry-meta-link May 29
            h2.h5.blog-entry-title
              a(href='blog-single-sidebar.html') We Launched Regular Drone Delivery in California. Watch Demo Video
          .blog-end-column.gallery(data-video='true')
            a(href='https://www.youtube.com/watch?v=mzhvR4wm__M').blog-entry-thumb.gallery-item.video-item.mb-3
              span.blog-entry-meta-label.fs-sm
                i.ci-video
                span.fs-ms Watch video
              img(src='img/blog/03.jpg' alt='Post')
            .d-flex.justify-content-between.mb-1
              .fs-sm.text-muted.pe-2.mb-2
                | in <a href='#' class='blog-entry-meta-link'>Cartzilla news</a>
              .fs-sm.mb-2
                a(href='blog-single-sidebar.html#comments').blog-entry-meta-link.text-nowrap
                  i.ci-message
                  | 31
            p.fs-sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation… <a href='blog-single-sidebar.html' class='blog-entry-meta-link fw-medium'>[Read more]</a>

        //- pagination.pug template
        include partials/pagination

      //- sidebar-blog.pug template
      aside.col-lg-4
        include partials/sidebar-blog

//- Footer
block footer
  include partials/footer-dark

//- Handheld toolbar
block toolbar
  include partials/toolbar-blog
  