extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Checkout Complete'
  - var parentMenu = 'Shop'

//- Navbar
block navbar
  include partials/navbar-3-level-light
  
//- Page Content
block content

  .container.pb-5.mb-sm-4
    .pt-5
      .card.py-3.mt-sm-3
        .card-body.text-center
          h2.h4.pb-3 Thank you for your order!
          p.fs-sm.mb-2 Your order has been placed and will be processed as soon as possible.
          p.fs-sm.mb-2 Make sure you make note of your order number, which is <span class='fw-medium'>34VB5540K83.</span>
          p.fs-sm You will be receiving an email shortly with confirmation of your order. <u>You can now:</u>
          a(href='shop-grid-ls.html').btn.btn-secondary.mt-3.me-3 Go back shopping
          a(href='order-tracking.html').btn.btn-primary.mt-3
            i.ci-location
            | &nbsp;Track order

//- Footer
block footer
  include partials/footer-dark

//- Handheld toolbar
block toolbar
  include partials/toolbar
