extends partials/layout

//- Override default config variables
append config
  - var pageTitle = 'Products'
  - var parentMenu = 'Account'

//- Navbar
block navbar
  include partials/navbar-marketplace

//- Page Content
block content

  //- dashboard-header.pug template
  include partials/dashboard-header

  .container.mb-5.pb-3
    .bg-light.shadow-lg.rounded-3.overflow-hidden
      .row

        // Sidebar
        aside.col-lg-4.pe-xl-5
          //- sidebar-dashboard.pug template
          include partials/sidebar-dashboard

        // Content
        section.col-lg-8.pt-lg-4.pb-4.mb-3
          .pt-2.px-4.ps-lg-0.pe-xl-5

            // Title
            .d-sm-flex.flex-wrap.justify-content-between.align-items-center.border-bottom
              h2.h3.py-2.me-2.text-center.text-sm-start
                | Your products
                span.badge.bg-faded-accent.fs-sm.text-body.align-middle.ms-2 5
              .py-2
                .d-flex.flex-nowrap.align-items-center.pb-3
                  label(for='sorting').form-label.fw-normal.text-nowrap.mb-0.me-2 Sort by:
                  select#sorting.form-select.form-select-sm.me-2
                    option Date Created
                    option Product Name
                    option Price
                    option Your Rating
                    option Updates
                  button(type='button').btn.btn-outline-secondary.btn-sm.px-2
                    i.ci-arrow-up

            // Product
            .d-block.d-sm-flex.align-items-center.py-4.border-bottom
              a(href='marketplace-single.html' style='width: 12.5rem;').d-block.mb-3.mb-sm-0.me-sm-4.ms-sm-0.mx-auto
                img(src='img/marketplace/products/th08.jpg' alt='Product').rounded-3
              .text-center.text-sm-start
                h3.h6.product-title.mb-2
                  a(href='marketplace-single.html') Flat-line E-Commerce Icons (AI)
                .d-inline-block.text-accent
                  | $18.<small>00</small>
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Sales: 
                  span.fw-medium 26
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Earnings: 
                  span.fw-medium $327.<small>60</small>
                .d-flex.justify-content-center.justify-content-sm-start.pt-3
                  button(type='button' data-bs-toggle='tooltip' title='Download').btn.bg-faded-accent.btn-icon.me-2
                    i.ci-download.text-accent
                  button(type='button' data-bs-toggle='tooltip' title='Edit').btn.bg-faded-info.btn-icon.me-2
                    i.ci-edit.text-info
                  button(type='button' data-bs-toggle='tooltip' title='Delete').btn.bg-faded-danger.btn-icon
                    i.ci-trash.text-danger

            // Product
            .d-block.d-sm-flex.align-items-center.py-4.border-bottom
              a(href='marketplace-single.html' style='width: 12.5rem;').d-block.mb-3.mb-sm-0.me-sm-4.ms-sm-0.mx-auto
                img(src='img/marketplace/products/th09.jpg' alt='Product').rounded-3
              .text-center.text-sm-start
                h3.h6.product-title.mb-2
                  a(href='marketplace-single.html') Square Style Mobile UI Kit (Sketch)
                .d-inline-block.text-accent
                  | $24.<small>00</small>
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Sales: 
                  span.fw-medium 153
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Earnings: 
                  span.fw-medium $2,570.<small>40</small>
                .d-flex.justify-content-center.justify-content-sm-start.pt-3
                  button(type='button' data-bs-toggle='tooltip' title='Download').btn.bg-faded-accent.btn-icon.me-2
                    i.ci-download.text-accent
                  button(type='button' data-bs-toggle='tooltip' title='Edit').btn.bg-faded-info.btn-icon.me-2
                    i.ci-edit.text-info
                  button(type='button' data-bs-toggle='tooltip' title='Delete').btn.bg-faded-danger.btn-icon
                    i.ci-trash.text-danger

            // Product
            .d-block.d-sm-flex.align-items-center.py-4.border-bottom
              a(href='marketplace-single.html' style='width: 12.5rem;').d-block.mb-3.mb-sm-0.me-sm-4.ms-sm-0.mx-auto
                img(src='img/marketplace/products/th10.jpg' alt='Product').rounded-3
              .text-center.text-sm-start
                h3.h6.product-title.mb-2
                  a(href='marketplace-single.html') Floating Phone and Tablet Mockup (PSD)
                .d-inline-block.text-accent
                  | $15.<small>00</small>
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Sales: 
                  span.fw-medium 109
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Earnings: 
                  span.fw-medium $1,144.<small>50</small>
                .d-flex.justify-content-center.justify-content-sm-start.pt-3
                  button(type='button' data-bs-toggle='tooltip' title='Download').btn.bg-faded-accent.btn-icon.me-2
                    i.ci-download.text-accent
                  button(type='button' data-bs-toggle='tooltip' title='Edit').btn.bg-faded-info.btn-icon.me-2
                    i.ci-edit.text-info
                  button(type='button' data-bs-toggle='tooltip' title='Delete').btn.bg-faded-danger.btn-icon
                    i.ci-trash.text-danger

            // Product
            .d-block.d-sm-flex.align-items-center.py-4.border-bottom
              a(href='marketplace-single.html' style='width: 12.5rem;').d-block.mb-3.mb-sm-0.me-sm-4.ms-sm-0.mx-auto
                img(src='img/marketplace/products/th11.jpg' alt='Product').rounded-3
              .text-center.text-sm-start
                h3.h6.product-title.mb-2
                  a(href='marketplace-single.html') Minimal Mobile App UI Kit (Sketch)
                .d-inline-block.text-accent
                  | $23.<small>00</small>
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Sales: 
                  span.fw-medium 117
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Earnings: 
                  span.fw-medium $1,883.<small>70</small>
                .d-flex.justify-content-center.justify-content-sm-start.pt-3
                  button(type='button' data-bs-toggle='tooltip' title='Download').btn.bg-faded-accent.btn-icon.me-2
                    i.ci-download.text-accent
                  button(type='button' data-bs-toggle='tooltip' title='Edit').btn.bg-faded-info.btn-icon.me-2
                    i.ci-edit.text-info
                  button(type='button' data-bs-toggle='tooltip' title='Delete').btn.bg-faded-danger.btn-icon
                    i.ci-trash.text-danger

            // Product
            .d-block.d-sm-flex.align-items-center.pt-4.pb-2
              a(href='marketplace-single.html' style='width: 12.5rem;').d-block.mb-3.mb-sm-0.me-sm-4.ms-sm-0.mx-auto
                img(src='img/marketplace/products/th12.jpg' alt='Product').rounded-3
              .text-center.text-sm-start
                h3.h6.product-title.mb-2
                  a(href='marketplace-single.html') Travel &amp; Landmark Icon Pack (AI)
                .d-inline-block.text-accent
                  | $17.<small>00</small>
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Sales: 
                  span.fw-medium 21
                .d-inline-block.text-muted.fs-ms.border-start.ms-2.ps-2
                  | Earnings: 
                  span.fw-medium $249.<small>90</small>
                .d-flex.justify-content-center.justify-content-sm-start.pt-3
                  button(type='button' data-bs-toggle='tooltip' title='Download').btn.bg-faded-accent.btn-icon.me-2
                    i.ci-download.text-accent
                  button(type='button' data-bs-toggle='tooltip' title='Edit').btn.bg-faded-info.btn-icon.me-2
                    i.ci-edit.text-info
                  button(type='button' data-bs-toggle='tooltip' title='Delete').btn.bg-faded-danger.btn-icon
                    i.ci-trash.text-danger

//- Footer
block footer
  include partials/footer-marketplace

//- Handheld toolbar
block toolbar
  include partials/toolbar-marketplace
