// Featured posts carousel
.featured-posts-carousel.tns-carousel.pt-5
  .tns-carousel-inner(data-carousel-options='{"items": 2, "nav": false, "autoHeight": true, "responsive": {"0":{"items":1},"700":{"items":2, "gutter": 20},"991":{"items":2, "gutter": 30}}}')
    article
      a(href='blog-single-sidebar.html').blog-entry-thumb.mb-3
        span.blog-entry-meta-label.fs-sm
          i.ci-time
          | Sep 10
        img(src='img/blog/featured/01.jpg' alt='Featured post')
      .d-flex.justify-content-between.mb-2.pt-1
        h2.h5.blog-entry-title.mb-0
          a(href='blog-single-sidebar.html') Healthy Food - New Way of Living
        a(href='blog-single-sidebar.html#comments').blog-entry-meta-link.fs-sm.text-nowrap.ms-3.pt-1
          i.ci-message
          | 13
      .d-flex.align-items-center.fs-sm
        a(href='#').blog-entry-meta-link
          .blog-entry-author-ava
            img(src='img/blog/meta/04.jpg' alt='Olivia Reyes')
          | Olivia Reyes
        span.blog-entry-meta-divider
        .fs-sm.text-muted
          | in <a href='#' class='blog-entry-meta-link'>Lifestyle</a>, <a href='#' class='blog-entry-meta-link'>Nutrition</a>
    article
      a(href='blog-single-sidebar.html').blog-entry-thumb.mb-3
        span.blog-entry-meta-label.fs-sm
          i.ci-time
          | Aug 27
        img(src='img/blog/featured/02.jpg' alt='Featured post')
      .d-flex.justify-content-between.mb-2.pt-1
        h2.h5.blog-entry-title.mb-0
          a(href='blog-single-sidebar.html') Online Payment Security Tips for Shoppers
        a(href='blog-single-sidebar.html#comments').blog-entry-meta-link.fs-sm.text-nowrap.ms-3.pt-1
          i.ci-message
          | 9
      .d-flex.align-items-center.fs-sm
        a(href='#').blog-entry-meta-link
          .blog-entry-author-ava
            img(src='img/blog/meta/05.jpg' alt='Rafael Marquez')
          | Rafael Marquez
        span.blog-entry-meta-divider
        .fs-sm.text-muted
          | in <a href='#' class='blog-entry-meta-link'>Online shpopping</a>
    article
      a(href='blog-single-sidebar.html').blog-entry-thumb.mb-3
        span.blog-entry-meta-label.fs-sm
          i.ci-time
          | Aug 16
        img(src='img/blog/featured/03.jpg' alt='Featured post')
      .d-flex.justify-content-between.mb-2.pt-1
        h2.h5.blog-entry-title.mb-0
          a(href='blog-single-sidebar.html') We Launched New Store in San Francisco!
        a(href='blog-single-sidebar.html#comments').blog-entry-meta-link.fs-sm.text-nowrap.ms-3.pt-1
          i.ci-message
          | 23
      .d-flex.align-items-center.fs-sm
        a(href='#').blog-entry-meta-link
          .blog-entry-author-ava
            img(src='img/blog/meta/03.jpg' alt='Paul Woodred')
          | Paul Woodred
        span.blog-entry-meta-divider
        .fs-sm.text-muted
          | in <a href='#' class='blog-entry-meta-link'>Cartzilla news</a>