// Footer
footer.footer.bg-darker
  .bg-dark
    .container.py-5
      .row.py-lg-4
        .col-lg-4.mb-lg-0.mb-4
          .widget.pb-3.mb-lg-4
            h3.widget-title.text-light.pb-1 Stay informed
            form(action='https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;id=29ca296126' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate).subscription-form.validate
              .input-group.flex-nowrap
                i.ci-mail.position-absolute.top-50.translate-middle-y.text-muted.fs-base.ms-3
                input(type='email' name='EMAIL' placeholder='Your email' required).form-control.rounded-start
                button(type='submit' name='subscribe').btn.btn-accent Subscribe*
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;' aria-hidden='true')
                input(type='text' name='b_c7103e2c981361a6639545bd5_29ca296126' tabindex='-1').subscription-form-antispam
              .form-text.text-light.opacity-50 *Subscribe to our newsletter to receive early discount offers, updates and new products info.
              .subscription-status
          div
            a(href='#').btn-social.bs-light.bs-twitter.me-2.mb-2
              i.ci-twitter
            a(href='#').btn-social.bs-light.bs-facebook.me-2.mb-2
              i.ci-facebook
            a(href='#').btn-social.bs-light.bs-instagram.me-2.mb-2
              i.ci-instagram
            a(href='#').btn-social.bs-light.bs-pinterest.me-2.mb-2
              i.ci-pinterest
            a(href='#').btn-social.bs-light.bs-youtube.me-2.mb-2
              i.ci-youtube
        .col-lg-6.offset-lg-1
          .d-flex.flex-sm-row.flex-column.justify-content-sm-between.mt-n4.mx-lg-n3
            .widget.widget-links.widget-light.mt-4.px-lg-3.px-sm-n2
              h3.widget-title.text-light Company
              ul.widget-list
                li.widget-list-item: a(href='#').widget-list-link About Us
                li.widget-list-item: a(href='#').widget-list-link How It Works
                li.widget-list-item: a(href='#').widget-list-link Create an NFT With Us
                li.widget-list-item: a(href='#').widget-list-link Support
                li.widget-list-item: a(href='#').widget-list-link Blog
                li.widget-list-item: a(href='#').widget-list-link My Account
            .widget.widget-links.widget-light.mt-4.px-lg-3.px-sm-n2
              h3.widget-title.text-light Marketplace
              ul.widget-list
                li.widget-list-item: a(href='#').widget-list-link All NFTs
                li.widget-list-item: a(href='#').widget-list-link New
                li.widget-list-item: a(href='#').widget-list-link Art
                li.widget-list-item: a(href='#').widget-list-link Music
                li.widget-list-item: a(href='#').widget-list-link Photography
                li.widget-list-item: a(href='#').widget-list-link Utility
            .widget.widget-links.widget-light.mt-4.px-lg-3.px-sm-n2
              h3.widget-title.text-light Help
              ul.widget-list
                li.widget-list-item: a(href='#').widget-list-link Terms and Conditions
                li.widget-list-item: a(href='#').widget-list-link Privacy Policy
                li.widget-list-item: a(href='#').widget-list-link FAQ
  .container.my-lg-4.my-3.py-2
    .d-flex.flex-md-row.flex-column-reverse.align-items-center.justify-content-md-between
      .fs-xs.text-light.opacity-50
        | &copy; All rights reserved. Made by 
        a(href='https://createx.studio/' target='_blank' rel='noopener').text-light Createx Studio
      .d-flex.align-items-start.mb-md-0.mb-3.mx-n1
        .px-1
          a(href='#').btn-market.btn-apple.bg-dark
            span.btn-market-subtitle Download on the
            span.btn-market-title App Store
        .px-1
          a(href='#').btn-market.btn-google.bg-dark
            span.btn-market-subtitle Download on the
            span.btn-market-title Google Play