head
  meta(charset="utf-8")
  title
    | Cartzilla | !{pageTitle}

  // SEO Meta Tags
  meta(name="description", content="Cartzilla - Bootstrap E-commerce Template")
  meta(name="keywords", content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean")
  meta(name="author", content="Createx Studio")

  // Viewport
  meta(name='viewport' content='width=device-width, initial-scale=1')

  // Favicon and Touch Icons
  link(rel="apple-touch-icon", sizes="180x180")&attributes(isNestedFile ? {'href':'../apple-touch-icon.png'} : {'href':'apple-touch-icon.png'})
  link(rel="icon", type="image/png", sizes="32x32")&attributes(isNestedFile ? {'href':'../favicon-32x32.png'} : {'href':'favicon-32x32.png'})
  link(rel="icon", type="image/png", sizes="16x16")&attributes(isNestedFile ? {'href':'../favicon-16x16.png'} : {'href':'favicon-16x16.png'})
  link(rel="manifest")&attributes(isNestedFile ? {'href':'../site.webmanifest'} : {'href':'site.webmanifest'})
  link(rel="mask-icon", color="#fe6a6a")&attributes(isNestedFile ? {'href':'../safari-pinned-tab.svg'} : {'href':'safari-pinned-tab.svg'})
  meta(name="msapplication-TileColor", content="#ffffff")
  meta(name="theme-color", content="#ffffff")

  // Vendor Styles including: Font Icons, Plugins, etc.
  +vendor-styles

  // Main Theme Styles + Bootstrap
  link(rel='stylesheet' media='screen')&attributes(isNestedFile ? {'href': '../css/theme.min.css'} : {'href': 'css/theme.min.css'})
