// Departments menu
ul.navbar-nav.navbar-mega-nav.pe-lg-2.me-lg-2
  li.nav-item.dropdown
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle.ps-lg-0
      i.ci-view-grid.me-2
      | Departments
    .dropdown-menu.dropdown-menu-dark.px-2.pb-4
      .d-flex.flex-wrap.flex-sm-nowrap
        .mega-dropdown-column.pt-3.pt-sm-4.px-2.px-lg-3
          .widget.widget-links.widget-light
            a(href='#').d-block.overflow-hidden.rounded-3.mb-3
              img(src='img/shop/departments/01.jpg' alt='Clothing')
            h6.fs-base.text-light.mb-2 Clothing
            ul.widget-list
              li.widget-list-item.mb-1: a(href='#').widget-list-link Women's clothing
              li.widget-list-item.mb-1: a(href='#').widget-list-link Men's clothing
              li.widget-list-item.mb-1: a(href='#').widget-list-link Kid's clothing
        .mega-dropdown-column.pt-4.px-2.px-lg-3
          .widget.widget-links.widget-light
            a(href='#').d-block.overflow-hidden.rounded-3.mb-3
              img(src='img/shop/departments/02.jpg' alt='Shoes')
            h6.fs-base.text-light.mb-2 Shoes
            ul.widget-list
              li.widget-list-item.mb-1: a(href='#').widget-list-link Women's shoes
              li.widget-list-item.mb-1: a(href='#').widget-list-link Men's shoes
              li.widget-list-item.mb-1: a(href='#').widget-list-link Kid's shoes
        .mega-dropdown-column.pt-4.px-2.px-lg-3
          .widget.widget-links.widget-light
            a(href='#').d-block.overflow-hidden.rounded-3.mb-3
              img(src='img/shop/departments/03.jpg' alt='Gadgets')
            h6.fs-base.text-light.mb-2 Gadgets
            ul.widget-list
              li.widget-list-item.mb-1: a(href='#').widget-list-link Smartphones &amp; Tablets
              li.widget-list-item.mb-1: a(href='#').widget-list-link Wearable gadgets
              li.widget-list-item.mb-1: a(href='#').widget-list-link E-book readers
      .d-flex.flex-wrap.flex-sm-nowrap
        .mega-dropdown-column.pt-4.px-2.px-lg-3
          .widget.widget-links.widget-light
            a(href='#').d-block.overflow-hidden.rounded-3.mb-3
              img(src='img/shop/departments/04.jpg' alt='Furniture')
            h6.fs-base.text-light.mb-2 Furniture &amp; Decor
            ul.widget-list
              li.widget-list-item.mb-1: a(href='#').widget-list-link Home furniture
              li.widget-list-item.mb-1: a(href='#').widget-list-link Office furniture
              li.widget-list-item.mb-1: a(href='#').widget-list-link Lighting and decoration
        .mega-dropdown-column.pt-4.px-2.px-lg-3
          .widget.widget-links.widget-light
            a(href='#').d-block.overflow-hidden.rounded-3.mb-3
              img(src='img/shop/departments/05.jpg' alt='Accessories')
            h6.fs-base.text-light.mb-2 Accessories
            ul.widget-list
              li.widget-list-item.mb-1: a(href='#').widget-list-link Hats
              li.widget-list-item.mb-1: a(href='#').widget-list-link Sunglasses
              li.widget-list-item.mb-1: a(href='#').widget-list-link Bags
        .mega-dropdown-column.pt-4.px-2.px-lg-3
          .widget.widget-links.widget-light
            a(href='#').d-block.overflow-hidden.rounded-3.mb-3
              img(src='img/shop/departments/06.jpg' alt='Entertainment')
            h6.fs-base.text-light.mb-2 Entertainment
            ul.widget-list
              li.widget-list-item.mb-1: a(href='#').widget-list-link Kid's toys
              li.widget-list-item.mb-1: a(href='#').widget-list-link Video games
              li.widget-list-item.mb-1: a(href='#').widget-list-link Outdoor / Camping
