// Departments menu
ul.navbar-nav.navbar-mega-nav.pe-lg-2.me-lg-2
  li.nav-item.dropdown
    a(href='#' data-bs-toggle='dropdown' data-bs-auto-close='outside').nav-link.dropdown-toggle.ps-lg-0
      i.ci-menu.align-middle.mt-n1.me-2
      | Departments
    ul.dropdown-menu
      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-laptop.opacity-60.fs-lg.mt-n1.me-2
          | Computers &amp; Accessories
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-sm-nowrap.px-2
            .mega-dropdown-column.pt-4.pb-0.py-sm-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Computers
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Laptops &amp; Tablets
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Desktop Computers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Computer External Components
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Computer Internal Components
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Networking Products (NAS)
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Single Board Computers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Desktop Barebones
            .mega-dropdown-column.py-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Accessories
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Monitors
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Bags, Cases &amp; Sleeves
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Batteries
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Charges &amp; Adapters
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Cooling Pads
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Mounts
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Replacement Screens
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Security Locks
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Stands
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/07.jpg' alt='Computers & Accessories')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$149.<small>80</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1

      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-mobile.opacity-60.fs-lg.mt-n1.me-2
          | Smartphones &amp; Tablets
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-md-nowrap.px-2
            .mega-dropdown-column.pt-4.pb-0.py-sm-4.px-3
              .widget.widget-links.mb-3
                h6.fs-base.mb-3 Smartphones
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Apple iPhone
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Android Smartphones
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Phablets
              .widget.widget-links
                h6.fs-base Tablets
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Apple iPad
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Android Tablets
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Tablets with Keyboard
            .mega-dropdown-column.py-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Accessories
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Accessory Kits
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Batteries &amp; Battery Packs
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Cables
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Car Accessories
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Charges &amp; Power Adapters
                  li.widget-list-item.pb-1: a(href='#').widget-list-link FM Transmitters
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Lens Attachments
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Mounts &amp; Stands
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Repair Kits
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Replacement Parts
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Styluses
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/09.jpg' alt='Smartphones & Tablets')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$127.<small>00</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1
      
      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-monitor.opacity-60.fs-lg.mt-n1.me-2
          | TV, Video &amp; Audio
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-md-nowrap.px-2
            .mega-dropdown-column.pt-4.pb-0.py-sm-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Television &amp; Video
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link TV Sets
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Home Theater Systems
                  li.widget-list-item.pb-1: a(href='#').widget-list-link DVD Players &amp; Recorders
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Blue-ray Players &amp; Recorders
                  li.widget-list-item.pb-1: a(href='#').widget-list-link HD DVD Players &amp; Recorders
                  li.widget-list-item.pb-1: a(href='#').widget-list-link DVD-VCR Combos
                  li.widget-list-item.pb-1: a(href='#').widget-list-link DTV Converters
                  li.widget-list-item.pb-1: a(href='#').widget-list-link AV Receivers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link AV Amplifiers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Projectors
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Projection Screens
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Satelite Television
            .mega-dropdown-column.pt-0.pb-4.py-sm-4.px-3
              .widget.widget-links
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link TV-DTD Combos
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Sound Systems
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Home Cinema Systems
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Streaming Media Players
                  li.widget-list-item.pb-1: a(href='#').widget-list-link VCRs
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Video Glasses
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Lens Attachments
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/08.jpg' alt='TV, Video & Audio')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$78.<small>00</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1

      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-camera.opacity-60.fs-lg.mt-n1.me-2
          | Cameras, Photo &amp; Video
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-md-nowrap.px-2
            .mega-dropdown-column.pt-4.pb-0.py-sm-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Cameras &amp; Lenses
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Point &amp; Shoot Digital Cameras
                  li.widget-list-item.pb-1: a(href='#').widget-list-link DSLR Cameras
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Mirrorless Cameras
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Body Mounted Cameras
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Camcorders
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Camcorder Lenses
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Camera Lenses
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Macro &amp; Ringlight Flashes
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Shoe Mount Flashes
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Tripods &amp; Monopods
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Video Studio
            .mega-dropdown-column.py-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Accessories
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Bags &amp; Cases
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Binoculars &amp; Scopes
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Batteries &amp; Chargers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Cables &amp; Cords
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Camcorder Accessories
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Cleaning Equipment
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Protector Foils
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Filters &amp; Accessories
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Remote Controls
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Rain Covers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Viewfinders
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/10.jpg' alt='Cameras, Photo & Video')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$210.<small>00</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1

      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-earphones.opacity-60.fs-lg.mt-n1.me-2
          | Headphones
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-md-nowrap.px-2
            .mega-dropdown-column.pt-4.pb-0.py-sm-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Headphones
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Earbud Headphones
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Over-Ear Headphones
                  li.widget-list-item.pb-1: a(href='#').widget-list-link On-Ear Headphones
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Bluetooth Headphones
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Sports &amp; Fitness Headphones
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Noise-Cancelling Headphones
            .mega-dropdown-column.py-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Accessories
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Cases &amp; Sleeves
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Cables &amp; Cords
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Ear Pads
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Repair Kits
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Cleaning Equipment
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/11.jpg' alt='Headphones')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$35.<small>99</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1

      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-watch.opacity-60.fs-lg.mt-n1.me-2
          | Wearable Electronics
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-md-nowrap.px-2
            .mega-dropdown-column.py-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Gadgets
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Smartwatches
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Fitness Trackers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Smart Glasses
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Rings
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Virtual Reality
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Clips, Arm &amp; Wristbands
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Accessories
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/12.jpg' alt='Wearable Electronics')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$79.<small>50</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1

      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-printer.opacity-60.fs-lg.mt-n1.me-2
          | Printers &amp; Ink
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-md-nowrap.px-2
            .mega-dropdown-column.pt-4.pb-0.py-sm-4.px-3
              .widget.widget-links.mb-3
                h6.fs-base.mb-3 By type
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link All-in-One
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Copying
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Faxing
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Photo Printing
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Printing Only
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Scanning
              .widget.widget-links
                h6.fs-base.mb-3 Scanners
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Business Card Scanners
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Document Scanners
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Flatbed &amp; Photo Scanners
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Slide &amp; Negative Scanners
            .mega-dropdown-column.py-4.px-3
              .widget.widget-links
                h6.fs-base Printers
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Dot Matrix Printers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Inkjet Printers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Label Printers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Laser Printers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Photo Printers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Wide Format Printers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Plotter Printers
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/13.jpg' alt='Printers & Ink')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$54.<small>00</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1

      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-joystick.opacity-60.fs-lg.mt-n1.me-2
          | Video Games
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-md-nowrap.px-2
            .mega-dropdown-column.pt-4.pb-0.py-sm-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Games &amp; Hardware
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Video Games
                  li.widget-list-item.pb-1: a(href='#').widget-list-link PlayStation 4
                  li.widget-list-item.pb-1: a(href='#').widget-list-link PlayStation 3
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Xbox One
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Xbox 360
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Nintendo Switch
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Wii U
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Wii
                  li.widget-list-item.pb-1: a(href='#').widget-list-link PC
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Mac
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Nintendo 3DS &amp; 2DS
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Nintendo DS
            .mega-dropdown-column.pt-0.pb-4.py-sm-4.px-3
              .widget.widget-links
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link PlayStation Vita
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Sony PSP
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Retro Gaming
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Microconsoles
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Accessories
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Digital Games
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/14.jpg' alt='Video Games')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$19.<small>00</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1

      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-speaker.opacity-60.fs-lg.mt-n1.me-2
          | Speakers &amp; Home Music
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-md-nowrap.px-2
            .mega-dropdown-column.pt-4.pb-0.py-sm-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Speakers
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Bluetooth Speakers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Bookshelf Speakers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Ceiling &amp; In-Wall Speakers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Center-Channel Speakers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Floorstanding Speakers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Outdoor Speakers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Satellite Speakers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Sound Bars
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Subwoofers
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Surround Sound Systems
            .mega-dropdown-column.py-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Home Audio
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Home Theater
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Wireless &amp; Streaming Audio
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Stereo System Components
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Compact Radios &amp; Stereos
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Home Audio Accessories
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/16.jpg' alt='Speakers & Home Music')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$43.<small>00</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1

      li.dropdown.mega-dropdown
        a(href='#' data-bs-toggle='dropdown').dropdown-item.dropdown-toggle
          i.ci-server.opacity-60.fs-lg.mt-n1.me-2
          | HDD/SSD Data Storage
        .dropdown-menu.p-0
          .d-flex.flex-wrap.flex-md-nowrap.px-2
            .mega-dropdown-column.py-4.px-3
              .widget.widget-links
                h6.fs-base.mb-3 Data Storage
                ul.widget-list
                  li.widget-list-item.pb-1: a(href='#').widget-list-link External Hard Drives
                  li.widget-list-item.pb-1: a(href='#').widget-list-link External Solid State Drives
                  li.widget-list-item.pb-1: a(href='#').widget-list-link External Zip Drives
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Floppy &amp; Tape Drives
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Internal Hard Drives
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Internal Solid State Drives
                  li.widget-list-item.pb-1: a(href='#').widget-list-link Network Attached Storage
                  li.widget-list-item.pb-1: a(href='#').widget-list-link USB Flash Drives
            .mega-dropdown-column.d-none.d-lg-block.py-4.text-center
              a(href='#').d-block.mb-2
                img(src='img/shop/departments/15.jpg' alt='HDD/SSD Data Storage')
              .fs-sm.mb-3 Starting from <span class='fw-medium'>$21.<small>60</small></span>
              a(href='#').btn.btn-primary.btn-shadow.btn-sm
                | See offers
                i.ci-arrow-right.fs-xs.ms-1
