//- Account header (NFT Demo)

.page-title-overlap.bg-accent.pt-4
  .container.d-flex.flex-wrap.flex-sm-nowrap.justify-content-center.justify-content-sm-between.align-items-center.mb-2.pt-2
    .d-flex.align-items-center
      .img-thumbnail.rounded-circle.position-relative.flex-shrink-0(style='width: 6.375rem;')
        img(src='img/nft/vendor/avatar.png' alt='@foxnet_creator').rounded-circle
      .ps-3
        h3.h5.mb-2.text-light @foxnet_creator
        span.d-block.text-light.fs-sm.opacity-60 Joined July 2021

    .my-sm-0.my-3.text-sm-end.pt-1
      .d-flex.align-items-center.text-nowrap.fs-sm
        .mb-2.me-sm-3.me-2.text-muted
          | <span class='fw-medium text-light'>766</span> <span class='text-white opacity-70'>followers</span>
        .mb-2.ps-sm-3.ps-2.border-start.border-light.text-muted
          | <span class='fw-medium text-light'>2K</span> <span class='text-white opacity-70'>following</span>
      a(href='#').text-light
        | 0x1dDB2C08s97...9Ecd
        i(data-bs-toggle='tooltip' data-bs-placement='top' title='Copy').ci-copy.ms-2.fs-sm