// Page Title (Dark)
.bg-dark.py-4
  .container.d-lg-flex.justify-content-between.py-2.py-lg-3
    .order-lg-2.mb-3.mb-lg-0.pt-lg-2
      +breadcrumb('light')
    .order-lg-1.pe-lg-4.text-center.text-lg-start
      h1.h3.text-light.mb-0 !{pageTitle}
