// Page Title (Shop Alt)
// used for shop templates with filters on top
.bg-dark.pt-4.pb-5
  .container.pt-2.pb-3.pt-lg-3.pb-lg-4
    .d-lg-flex.justify-content-between.pb-3
      .order-lg-2.mb-3.mb-lg-0.pt-lg-2
        +breadcrumb('light')
      .order-lg-1.pe-lg-4.text-center.text-lg-start
        h1.h3.text-light.mb-0 !{pageTitle}
