// Related articles sidebar
#help-sidebar.offcanvas.offcanvas-collapse.border-end
  .offcanvas-header.align-items-center.shadow-sm
    h2.h5.mb-0 Related articles
    button(type='button' class='btn-close ms-auto' data-bs-dismiss='offcanvas' aria-label='Close')

  .offcanvas-body.py-grid-gutter.py-lg-1(data-simplebar data-simplebar-auto-hide='true')

    // Links
    .widget.widget-links
      h3.widget-title.d-none.d-lg-block Related articles
      ul.widget-list
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Managing account
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Working with dashboard
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Available payment methods
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Delivery information
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Order tracking instructions
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Refund policy
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Offers and discounts
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Reward points
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Affiliate program
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | After purchase support
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Service terms &amp; conditions
        li.widget-list-item
          a(href='#').widget-list-link
            i.ci-book.opacity-60.align-middle.mt-n1.me-1
            | Most popular questions
