//- Checkout sidebar
.bg-white.rounded-3.shadow-lg.p-4.ms-lg-auto
  .py-2.px-xl-2
    .widget.mb-3
      h2.widget-title.text-center Order summary
      .d-flex.align-items-center.pb-2.border-bottom
        a(href='shop-single-v1.html').d-block.flex-shrink-0
          img(src='img/shop/cart/widget/01.jpg' width='64' alt='Product')
        .ps-2
          h6.widget-product-title
            a(href='shop-single-v1.html') Women Colorblock Sneakers
          .widget-product-meta
            span.text-accent.me-2
              | $150.
              small 00
            span.text-muted x 1
      .d-flex.align-items-center.py-2.border-bottom
        a(href='shop-single-v1.html').d-block.flex-shrink-0
          img(src='img/shop/cart/widget/02.jpg' width='64' alt='Product')
        .ps-2
          h6.widget-product-title
            a(href='shop-single-v1.html') TH Jeans City Backpack
          .widget-product-meta
            span.text-accent.me-2
              | $79.
              small 50
            span.text-muted x 1
      .d-flex.align-items-center.py-2.border-bottom
        a(href='shop-single-v1.html').d-block.flex-shrink-0
          img(src='img/shop/cart/widget/03.jpg' width='64' alt='Product')
        .ps-2
          h6.widget-product-title
            a(href='shop-single-v1.html') 3-Color Sun Stash Hat
          .widget-product-meta
            span.text-accent.me-2
              | $22.
              small 50
            span.text-muted x 1
      .d-flex.align-items-center.py-2.border-bottom
        a(href='shop-single-v1.html').d-block.flex-shrink-0
          img(src='img/shop/cart/widget/04.jpg' width='64' alt='Product')
        .ps-2
          h6.widget-product-title
            a(href='shop-single-v1.html') Cotton Polo Regular Fit
          .widget-product-meta
            span.text-accent.me-2
              | $9.
              small 00
            span.text-muted x 1
    
    ul.list-unstyled.fs-sm.pb-2.border-bottom
      li.d-flex.justify-content-between.align-items-center
        span.me-2 Subtotal:
        span.text-end $265.<small>00</small>
      li.d-flex.justify-content-between.align-items-center
        span.me-2 Shipping:
        span.text-end —
      li.d-flex.justify-content-between.align-items-center
        span.me-2 Taxes:
        span.text-end $9.<small>50</small>
      li.d-flex.justify-content-between.align-items-center
        span.me-2 Discount:
        span.text-end —
    h3.fw-normal.text-center.my-4
      | $274.
      small 50

    form(method='post' novalidate).needs-validation
      .mb-3
        input(type='text' placeholder='Promo code' required).form-control
        .invalid-feedback Please provide promo code.
      button(type='submit').btn.btn-outline-primary.d-block.w-100 Apply promo code
