// Toolbar for handheld devices (Marketplace)
if isToolbar
  .handheld-toolbar
    .d-table.table-layout-fixed.w-100
      a(href='dashboard-favorites.html').d-table-cell.handheld-toolbar-item
        span.handheld-toolbar-icon: i.ci-heart
        span.handheld-toolbar-label Favorites
      a(href='javascript:void(0)' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' onclick='window.scrollTo(0, 0)').d-table-cell.handheld-toolbar-item
        span.handheld-toolbar-icon: i.ci-menu
        span.handheld-toolbar-label Menu
      a(href='marketplace-cart.html').d-table-cell.handheld-toolbar-item
        span.handheld-toolbar-icon
          i.ci-cart
          span.badge.bg-primary.rounded-pill.ms-1 3
        span.handheld-toolbar-label $56.00
