extends ../partials/layout-components

//- Override default config variables
append config
  - var vendorStyles = ['prismjs/themes/prism.css', 'prismjs/plugins/toolbar/prism-toolbar.css', 'prismjs/plugins/line-numbers/prism-line-numbers.css']
  - var vendorScripts = ['prismjs/components/prism-core.min.js', 'prismjs/components/prism-markup.min.js', 'prismjs/components/prism-clike.min.js', 'prismjs/components/prism-javascript.min.js', 'prismjs/components/prism-pug.min.js', 'prismjs/plugins/toolbar/prism-toolbar.min.js', 'prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js', 'prismjs/plugins/line-numbers/prism-line-numbers.min.js']
  - var pageTitle = 'Collapse'
  - var pageSubtitle = 'Toggle the visibility of content.'
  - var pageTitleLink = {'title': 'Bootstrap docs', 'link': 'https://getbootstrap.com/docs/5.2/components/collapse/'}
  - var isModalExample = true
  - var anchorNav = [{'title': 'Basic example', 'link': '#collapse-basic'}, {'title': 'Multiple targets', 'link': '#collapse-multiple'}]
  
//- Page Content
block content

  // Basic example
  section#collapse-basic.pb-5.mb-md-2
    h2.h5.mb-3 Basic example
    .card.border-0.shadow
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result1' data-bs-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html1' data-bs-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug1' data-bs-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result1.tab-pane.fade.show.active(role='tabpanel')
            a(href='#collapseExample' data-bs-toggle='collapse' role='button' aria-expanded='false' aria-controls='collapseExample').btn.btn-outline-accent.me-2.mb-3 Link with href
            button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample').btn.btn-outline-accent.mb-3 Button with data-bs-target
            #collapseExample.collapse
              .card.card-body
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          #html1.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Link with href --&gt;
                &lt;a href=&quot;#collapseExample&quot; class=&quot;btn btn-outline-accent&quot; data-bs-toggle=&quot;collapse&quot; role=&quot;button&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseExample&quot;&gt;
                  Link with href
                &lt;/a&gt;

                &lt;!-- Button with data-bs-target --&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-accent&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#collapseExample&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;collapseExample&quot;&gt;
                  Button with data-bs-target
                &lt;/button&gt;

                &lt;!-- Collapse --&gt;
                &lt;div class=&quot;collapse&quot; id=&quot;collapseExample&quot;&gt;
                  &lt;div class=&quot;card card-body&quot;&gt;
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                  &lt;/div&gt;
                &lt;/div&gt;
          #pug1.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Link with href
                a(href=&quot;#collapseExample&quot;, data-bs-toggle=&quot;collapse&quot;, role=&quot;button&quot;, aria-expanded=&quot;false&quot;, aria-controls=&quot;collapseExample&quot;).btn.btn-outline-accent
                  | Link with href

                // Button with data-bs-target
                button(type=&quot;button&quot;, data-bs-toggle=&quot;collapse&quot;, data-bs-target=&quot;#collapseExample&quot;, aria-expanded=&quot;false&quot;, aria-controls=&quot;collapseExample&quot;).btn.btn-outline-accent
                  | Button with data-bs-target

                // Collapse
                #collapseExample.collapse
                  .card.card-body
                    | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.

  // Multiple targets
  section#collapse-multiple.pb-5.mb-md-2
    h2.h5.mb-3 Multiple targets
    .card.border-0.shadow
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result2' data-bs-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html2' data-bs-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug2' data-bs-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result2.tab-pane.fade.show.active(role='tabpanel')
            a(href='#multiCollapseExample1' data-bs-toggle='collapse' role='button' aria-expanded='false' aria-controls='multiCollapseExample1').btn.btn-outline-accent.me-2.mb-3 Toggle first element
            button(type='button' data-bs-toggle='collapse' data-bs-target='#multiCollapseExample2' aria-expanded='false' aria-controls='multiCollapseExample2').btn.btn-outline-accent.me-2.mb-3 Toggle second element
            button(type='button' data-bs-toggle='collapse' data-bs-target='.multi-collapse' aria-expanded='false' aria-controls='multiCollapseExample1 multiCollapseExample2').btn.btn-outline-accent.mb-3 Toggle both elements
            .row
              .col-sm-6
                #multiCollapseExample1.collapse.multi-collapse
                  .card.card-body.mb-2
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              .col-sm-6
                #multiCollapseExample2.collapse.multi-collapse
                  .card.card-body.mb-2
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          #html2.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Toggle first element --&gt;
                &lt;a href=&quot;#multiCollapseExample1&quot; class=&quot;btn btn-outline-accent&quot; data-bs-toggle=&quot;collapse&quot; role=&quot;button&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;multiCollapseExample1&quot;&gt;
                  Toggle first element
                &lt;/a&gt;

                &lt;!-- Toggle second element --&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-accent&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#multiCollapseExample2&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;multiCollapseExample2&quot;&gt;
                  Toggle second element
                &lt;/button&gt;

                &lt;!-- Toggle both elements --&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-accent&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;.multi-collapse&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;multiCollapseExample1 multiCollapseExample2&quot;&gt;
                  Toggle both elements
                &lt;/button&gt;
                
                &lt;div class=&quot;row&quot;&gt;
                  &lt;div class=&quot;col-sm-6&quot;&gt;

                    &lt;!-- Collapse 1 --&gt;
                    &lt;div class=&quot;collapse multi-collapse&quot; id=&quot;multiCollapseExample1&quot;&gt;
                      &lt;div class=&quot;card card-body mb-2&quot;&gt;
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;col-sm-6&quot;&gt;

                    &lt;!-- Collapse 2 --&gt;
                    &lt;div class=&quot;collapse multi-collapse&quot; id=&quot;multiCollapseExample2&quot;&gt;
                      &lt;div class=&quot;card card-body mb-2&quot;&gt;
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
          #pug2.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Toggle first element
                a(href=&quot;#multiCollapseExample1&quot;, data-bs-toggle=&quot;collapse&quot;, role=&quot;button&quot;, aria-expanded=&quot;false&quot;, aria-controls=&quot;multiCollapseExample1&quot;).btn.btn-outline-accent
                  | Toggle first element
                
                // Toggle second element
                button(type=&quot;button&quot;, data-bs-toggle=&quot;collapse&quot;, data-bs-target=&quot;#multiCollapseExample2&quot;, aria-expanded=&quot;false&quot;, aria-controls=&quot;multiCollapseExample2&quot;).btn.btn-outline-accent
                  | Toggle second element

                // Toggle both elements
                button(type=&quot;button&quot;, data-bs-toggle=&quot;collapse&quot;, data-bs-target=&quot;.multi-collapse&quot;, aria-expanded=&quot;false&quot;, aria-controls=&quot;multiCollapseExample1 multiCollapseExample2&quot;).btn.btn-outline-accent
                  | Toggle both elements

                .row
                  .col-sm-6

                    // Collapse 1
                    #multiCollapseExample1.collapse.multi-collapse
                      .card.card-body.mb-2
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  .col-sm-6

                    // Collapse 2
                    #multiCollapseExample2.collapse.multi-collapse
                      .card.card-body.mb-2
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
