extends ../partials/layout-components

//- Override default config variables
append config
  - var pageTitle = 'Icon font'
  - var pageSubtitle = 'Collection of vector icons in the format of font. To add icon simply apply css class listed under each icon to <code>&lt;i&gt;</code> tag.'
  - var isPageTitleBadge = true
  
//- Page Content
block content

  section.pb-5.mb-md-2
    .card.border-0.shadow
      .card-body.text-center
        .row
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-add-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-add-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-add-document
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-add-document
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-add-location
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-add-location
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-add
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-add
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-add-user
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-add-user
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-announcement
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-announcement
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrow-down-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrow-down-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrow-down
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrow-down
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrow-left-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrow-left-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrow-left
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrow-left
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrow-right-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrow-right-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrow-right
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrow-right
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrow-up-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrow-up-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrow-up
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrow-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrows-horizontal
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrows-horizontal
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-arrows-vertical
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-arrows-vertical
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-bag
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-bag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-basket
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-basket
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-behance
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-behance
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-bell
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-bell
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-bluetooth
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-bluetooth
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-bluetooth-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-bluetooth-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-battery
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-battery
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-book
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-book
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-bookmark
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-bookmark
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-briefcase
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-briefcase
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-calculator
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-calculator
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-camera
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-camera
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-card
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-card
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-cart
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-cart
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-chat
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-chat
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-check-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-check-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-check
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-check
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-clip
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-clip
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-close-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-close-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-close
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-close
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-cloud-check
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-cloud-check
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-cloud-download
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-cloud-download
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-cloud-upload
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-cloud-upload
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-cloud
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-cloud
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-coin
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-coin
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-coins
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-coins
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-compare
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-compare
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-currency-exchange
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-currency-exchange
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-delete-document
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-delete-document
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-delete-folder
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-delete-folder
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-delete-location
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-delete-location
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-delivery
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-delivery
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-diamond
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-diamond
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-discord
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-discord
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-document-alt
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-document-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-document
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-document
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-dollar-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-dollar-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-dollar
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-dollar
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-download
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-download
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-dribbble
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-dribbble
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-earphones
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-earphones
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-edit-alt
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-edit-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-edit
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-edit
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-euro-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-euro-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-euro
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-euro
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-exit-full-screen
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-exit-full-screen
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-eye
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-eye
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-eye-off
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-eye-off
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-facebook
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-facebook
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-filter-alt
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-filter-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-filter
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-filter
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-flag
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-flag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-folder
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-folder
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-forward
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-forward
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-full-screen
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-full-screen
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-gift
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-gift
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-globe
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-globe
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-google
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-google
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-hangouts
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-hangouts
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-heart-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-heart-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-heart
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-heart
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-help
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-help
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-home
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-home
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-idea
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-idea
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-image
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-image
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-increase
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-increase
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-instagram
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-instagram
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-joystick
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-joystick
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-key
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-key
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-lable
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-lable
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-laptop
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-laptop
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-lightning
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-lightning
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-link
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-link
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-linkedin
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-linkedin
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-list
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-list
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-loading
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-loading
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-location
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-location
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-locked
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-locked
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-loudspeaker
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-loudspeaker
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-mail
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-mail
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-map
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-map
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-menu-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-menu-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-menu
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-menu
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-message
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-message
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-messenger
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-messenger
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-mobile
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-mobile
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-money-bag
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-money-bag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-money-box
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-money-box
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-monitor
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-monitor
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-moon
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-moon
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-music
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-music
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-navigation
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-navigation
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-odnoklassniki
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-odnoklassniki
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-package
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-package
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-percent
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-percent
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-phone
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-phone
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-pinterest
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-pinterest
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-plane
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-plane
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-play-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-play-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-play
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-play
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-printer
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-printer
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-reduce
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-reduce
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-reload
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-reload
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-remove-document
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-remove-document
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-remove-folder
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-remove-folder
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-reply
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-reply
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-rocket
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-rocket
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-ruler
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-ruler
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-rupee
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-rupee
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-scroll
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-scroll
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-search
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-search
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-security-announcement
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-security-announcement
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-security-check
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-security-check
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-security-close
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-security-close
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-security-prohibition
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-security-prohibition
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-send
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-send
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-server-alt
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-server-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-server
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-server
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-settings
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-settings
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-share-alt
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-share-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-share
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-share
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-sign-in
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-sign-in
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-sign-out
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-sign-out
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-skype
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-skype
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-smile
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-smile
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-speaker
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-speaker
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-star-filled
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-star-filled
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-star
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-star
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-star-half
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-star-half
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-sun
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-sun
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-support
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-support
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-target
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-target
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-telegram
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-telegram
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-thumb-up
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-thumb-up
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-thumb-up-filled
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-thumb-up-filled
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-tiktok
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-tiktok
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-time
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-time
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-trash
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-trash
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-tumblr
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-tumblr
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-turn-off
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-turn-off
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-twitter
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-twitter
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-unlocked
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-unlocked
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-upload
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-upload
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-user-circle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-user-circle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-user
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-user
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-viber
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-viber
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-video
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-video
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-view-grid
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-view-grid
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-view-list
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-view-list
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-vimeo
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-vimeo
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-vk
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-vk
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-wallet
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-wallet
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-watch
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-watch
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-weather
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-weather
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-wechat
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-wechat
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-whatsapp
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-whatsapp
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-youtube-outline
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-youtube-outline
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-youtube
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-youtube
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-caret
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-caret
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-dot-square
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-dot-square
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-paypal
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-paypal
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-wash
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-wash
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-bleach
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-bleach
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-hand-wash
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-hand-wash
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-ironing
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-ironing
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-sound-waves
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-sound-waves
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-paprika
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-paprika
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-chili
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-chili
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-canned-food
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-canned-food
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-toothbrush
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-toothbrush
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-pumpkin
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-pumpkin
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-orange
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-orange
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-broccoli
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-broccoli
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-sauce
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-sauce
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-soap
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-soap
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-toilet-paper
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-toilet-paper
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-lemon
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-lemon
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-bread
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-bread
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-jam
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-jam
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-fish
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-fish
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-wine
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-wine
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-truck
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-truck
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-tag
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-tag
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-eggs
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-eggs
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-store
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-store
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-ham-leg
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-ham-leg
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-discount
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-discount
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-open
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-open
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-juice
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-juice
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-cheese
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-cheese
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-milk
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-milk
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-cashier
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-cashier
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-avocado
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-avocado
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-apple
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-apple
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-pizza
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-pizza
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-scale
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-scale
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-ice-cream
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-ice-cream
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-water-bottle
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-water-bottle
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-carrot
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-carrot
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-basket-alt
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-basket-alt
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-corn
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-corn
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-frozen
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-frozen
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-lollipop
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-lollipop
          .col-md-3.col-sm-4.col-6.mb-4
            i.h2.text-body.ci-pot
            .border-top.border-bottom.mt-1.py-1.fs-sm.text-muted ci-pot
