extends ../partials/layout-components

//- Override default config variables
append config
  - var vendorStyles = ['prismjs/themes/prism.css', 'prismjs/plugins/toolbar/prism-toolbar.css', 'prismjs/plugins/line-numbers/prism-line-numbers.css']
  - var vendorScripts = ['prismjs/components/prism-core.min.js', 'prismjs/components/prism-markup.min.js', 'prismjs/components/prism-clike.min.js', 'prismjs/components/prism-javascript.min.js', 'prismjs/components/prism-pug.min.js', 'prismjs/plugins/toolbar/prism-toolbar.min.js', 'prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js', 'prismjs/plugins/line-numbers/prism-line-numbers.min.js']
  - var pageTitle = 'Social buttons'
  - var pageSubtitle = 'Display links to your social network accounts with these icon buttons.'
  - var isPageTitleBadge = true
  - var anchorNav = [{'title': 'Type: solid', 'link': '#sb-type-solid'}, {'title': 'Type: outline', 'link': '#sb-type-outline'}, {'title': 'Round shape', 'link': '#sb-round'}, {'title': 'Sizing', 'link': '#sb-sizing'}, {'title': 'Light version', 'link': '#sb-light'}]
  
//- Page Content
block content

  // Type: solid
  section#sb-type-solid.pb-5.mb-md-2
    h2.h5.mb-3 Type: solid
    .card.border-0.shadow
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result1' data-bs-toggle='tab' role='tab' aria-controls='result1' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html1' data-bs-toggle='tab' role='tab' aria-controls='html1' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug1' data-bs-toggle='tab' role='tab' aria-controls='pug1' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result1.tab-pane.fade.show.active(role='tabpanel')
            a(href='#').btn-social.bs-facebook.me-2.mb-2
              i.ci-facebook
            a(href='#').btn-social.bs-twitter.me-2.mb-2
              i.ci-twitter
            a(href='#').btn-social.bs-instagram.me-2.mb-2
              i.ci-instagram
            a(href='#').btn-social.bs-google.me-2.mb-2
              i.ci-google
            a(href='#').btn-social.bs-linkedin.me-2.mb-2
              i.ci-linkedin
            a(href='#').btn-social.bs-pinterest.me-2.mb-2
              i.ci-pinterest
            a(href='#').btn-social.bs-tumblr.me-2.mb-2
              i.ci-tumblr
            a(href='#').btn-social.bs-behance.me-2.mb-2
              i.ci-behance
            a(href='#').btn-social.bs-dribbble.me-2.mb-2
              i.ci-dribbble
            a(href='#').btn-social.bs-vk.me-2.mb-2
              i.ci-vk
            a(href='#').btn-social.bs-odnoklassniki.me-2.mb-2
              i.ci-odnoklassniki
            a(href='#').btn-social.bs-skype.me-2.mb-2
              i.ci-skype
            a(href='#').btn-social.bs-hangouts.me-2.mb-2
              i.ci-hangouts
            a(href='#').btn-social.bs-messenger.me-2.mb-2
              i.ci-messenger
            a(href='#').btn-social.bs-viber.me-2.mb-2
              i.ci-viber
            a(href='#').btn-social.bs-telegram.me-2.mb-2
              i.ci-telegram
            a(href='#').btn-social.bs-youtube.me-2.mb-2
              i.ci-youtube
            a(href='#').btn-social.bs-youtube.me-2.mb-2
              i.ci-youtube-outline
            a(href='#').btn-social.bs-vimeo.me-2.mb-2
              i.ci-vimeo
            a(href='#').btn-social.bs-wechat.me-2.mb-2
              i.ci-wechat
            a(href='#').btn-social.bs-discord.me-2.mb-2
              i.ci-discord
            a(href='#').btn-social.bs-tiktok.me-2.mb-2
              i.ci-tiktok
            a(href='#').btn-social.bs-whatsapp.me-2.mb-2
              i.ci-whatsapp
          #html1.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Facebook --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-facebook&quot;&gt;
                  &lt;i class=&quot;ci-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Twitter --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-twitter&quot;&gt;
                  &lt;i class=&quot;ci-twitter&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Instagram --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-instagram&quot;&gt;
                  &lt;i class=&quot;ci-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Google --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-google&quot;&gt;
                  &lt;i class=&quot;ci-google&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- LinkedIn --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-linkedin&quot;&gt;
                  &lt;i class=&quot;ci-linkedin&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Pinterest --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-pinterest&quot;&gt;
                  &lt;i class=&quot;ci-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Tumblr --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-tumblr&quot;&gt;
                  &lt;i class=&quot;ci-tumblr&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Behance --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-behance&quot;&gt;
                  &lt;i class=&quot;ci-behance&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Dribbble --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-dribbble&quot;&gt;
                  &lt;i class=&quot;ci-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- VKontakte --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-vk&quot;&gt;
                  &lt;i class=&quot;ci-vk&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Odnoklassniki --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-odnoklassniki&quot;&gt;
                  &lt;i class=&quot;ci-odnoklassniki&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Skype --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-skype&quot;&gt;
                  &lt;i class=&quot;ci-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Hangouts --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-hangouts&quot;&gt;
                  &lt;i class=&quot;ci-hangouts&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Messenger --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-messenger&quot;&gt;
                  &lt;i class=&quot;ci-messenger&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Viber --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-viber&quot;&gt;
                  &lt;i class=&quot;ci-viber&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Telegram --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-telegram&quot;&gt;
                  &lt;i class=&quot;ci-telegram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- YouTube --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-youtube&quot;&gt;
                  &lt;i class=&quot;ci-youtube&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- YouTube outline --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-youtube&quot;&gt;
                  &lt;i class=&quot;ci-youtube-outline&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Vimeo --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-vimeo&quot;&gt;
                  &lt;i class=&quot;ci-vimeo&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- WeChat --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-wechat&quot;&gt;
                  &lt;i class=&quot;ci-wechat&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Discord --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-discord&quot;&gt;
                  &lt;i class=&quot;ci-discord&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- TikTok --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-tiktok&quot;&gt;
                  &lt;i class=&quot;ci-tiktok&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- WhatsApp --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-whatsapp&quot;&gt;
                  &lt;i class=&quot;ci-whatsapp&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug1.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Facebook
                a(href=&quot;#&quot;).btn-social.bs-facebook
                  i.ci-facebook

                // Twitter
                a(href=&quot;#&quot;).btn-social.bs-twitter
                  i.ci-twitter

                // Instagram
                a(href=&quot;#&quot;).btn-social.bs-instagram
                  i.ci-instagram

                // Google
                a(href=&quot;#&quot;).btn-social.bs-google
                  i.ci-google

                // LinkedIn
                a(href=&quot;#&quot;).btn-social.bs-linkedin
                  i.ci-linkedin

                // Pinterest
                a(href=&quot;#&quot;).btn-social.bs-pinterest
                  i.ci-pinterest

                // Tumblr
                a(href=&quot;#&quot;).btn-social.bs-tumblr
                  i.ci-tumblr

                // Behance
                a(href=&quot;#&quot;).btn-social.bs-behance
                  i.ci-behance

                // Dribbble
                a(href=&quot;#&quot;).btn-social.bs-dribbble
                  i.ci-dribbble

                // VKontakte
                a(href=&quot;#&quot;).btn-social.bs-vk
                  i.ci-vk

                // Odnoklassniki
                a(href=&quot;#&quot;).btn-social.bs-odnoklassniki
                  i.ci-odnoklassniki

                // Skype
                a(href=&quot;#&quot;).btn-social.bs-skype
                  i.ci-skype

                Hangouts
                a(href=&quot;#&quot;).btn-social.bs-hangouts
                  i.ci-hangouts

                // Messenger
                a(href=&quot;#&quot;).btn-social.bs-messenger
                  i.ci-messenger

                // Viber
                a(href=&quot;#&quot;).btn-social.bs-viber
                  i.ci-viber

                // Telegram
                a(href=&quot;#&quot;).btn-social.bs-telegram
                  i.ci-telegram

                // YouTube
                a(href=&quot;#&quot;).btn-social.bs-youtube
                  i.ci-youtube

                // YouTube outline
                a(href=&quot;#&quot;).btn-social.bs-youtube
                  i.ci-youtube-outline

                // Vimeo
                a(href=&quot;#&quot;).btn-social.bs-vimeo
                  i.ci-vimeo

                // WeChat
                a(href=&quot;#&quot;).btn-social.bs-wechat
                  i.ci-wechat

                // Discord
                a(href=&quot;#&quot;).btn-social.bs-discord
                  i.ci-discord

                // TikTok
                a(href=&quot;#&quot;).btn-social.bs-tiktok
                  i.ci-tiktok

                // WhatsApp
                a(href=&quot;#&quot;).btn-social.bs-whatsapp
                  i.ci-whatsapp

  // Type: outline
  section#sb-type-outline.pb-5.mb-md-2
    h2.h5.mb-3 Type: outline
    .card.border-0.shadow
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result2' data-bs-toggle='tab' role='tab' aria-controls='result2' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html2' data-bs-toggle='tab' role='tab' aria-controls='html2' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug2' data-bs-toggle='tab' role='tab' aria-controls='pug2' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result2.tab-pane.fade.show.active(role='tabpanel')
            a(href='#').btn-social.bs-outline.bs-facebook.me-2.mb-2
              i.ci-facebook
            a(href='#').btn-social.bs-outline.bs-twitter.me-2.mb-2
              i.ci-twitter
            a(href='#').btn-social.bs-outline.bs-instagram.me-2.mb-2
              i.ci-instagram
            a(href='#').btn-social.bs-outline.bs-google.me-2.mb-2
              i.ci-google
            a(href='#').btn-social.bs-outline.bs-linkedin.me-2.mb-2
              i.ci-linkedin
            a(href='#').btn-social.bs-outline.bs-pinterest.me-2.mb-2
              i.ci-pinterest
            a(href='#').btn-social.bs-outline.bs-tumblr.me-2.mb-2
              i.ci-tumblr
            a(href='#').btn-social.bs-outline.bs-behance.me-2.mb-2
              i.ci-behance
            a(href='#').btn-social.bs-outline.bs-dribbble.me-2.mb-2
              i.ci-dribbble
            a(href='#').btn-social.bs-outline.bs-vk.me-2.mb-2
              i.ci-vk
            a(href='#').btn-social.bs-outline.bs-odnoklassniki.me-2.mb-2
              i.ci-odnoklassniki
            a(href='#').btn-social.bs-outline.bs-skype.me-2.mb-2
              i.ci-skype
            a(href='#').btn-social.bs-outline.bs-hangouts.me-2.mb-2
              i.ci-hangouts
            a(href='#').btn-social.bs-outline.bs-messenger.me-2.mb-2
              i.ci-messenger
            a(href='#').btn-social.bs-outline.bs-viber.me-2.mb-2
              i.ci-viber
            a(href='#').btn-social.bs-outline.bs-telegram.me-2.mb-2
              i.ci-telegram
            a(href='#').btn-social.bs-outline.bs-youtube.me-2.mb-2
              i.ci-youtube
            a(href='#').btn-social.bs-outline.bs-youtube.me-2.mb-2
              i.ci-youtube-outline
            a(href='#').btn-social.bs-outline.bs-vimeo.me-2.mb-2
              i.ci-vimeo
            a(href='#').btn-social.bs-outline.bs-wechat.me-2.mb-2
              i.ci-wechat
            a(href='#').btn-social.bs-outline.bs-discord.me-2.mb-2
              i.ci-discord
            a(href='#').btn-social.bs-outline.bs-tiktok.me-2.mb-2
              i.ci-tiktok
            a(href='#').btn-social.bs-outline.bs-whatsapp.me-2.mb-2
              i.ci-whatsapp
          #html2.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Facebook --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-facebook&quot;&gt;
                  &lt;i class=&quot;ci-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Twitter --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-twitter&quot;&gt;
                  &lt;i class=&quot;ci-twitter&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Instagram --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-instagram&quot;&gt;
                  &lt;i class=&quot;ci-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Google --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-google&quot;&gt;
                  &lt;i class=&quot;ci-google&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- LinkedIn --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-linkedin&quot;&gt;
                  &lt;i class=&quot;ci-linkedin&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Pinterest --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-pinterest&quot;&gt;
                  &lt;i class=&quot;ci-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Tumblr --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-tumblr&quot;&gt;
                  &lt;i class=&quot;ci-tumblr&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Behance --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-behance&quot;&gt;
                  &lt;i class=&quot;ci-behance&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Dribbble --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-dribbble&quot;&gt;
                  &lt;i class=&quot;ci-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- VKontakte --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-vk&quot;&gt;
                  &lt;i class=&quot;ci-vk&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Odnoklassniki --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-odnoklassniki&quot;&gt;
                  &lt;i class=&quot;ci-odnoklassniki&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Skype --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-skype&quot;&gt;
                  &lt;i class=&quot;ci-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Hangouts --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-hangouts&quot;&gt;
                  &lt;i class=&quot;ci-hangouts&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Messenger --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-messenger&quot;&gt;
                  &lt;i class=&quot;ci-messenger&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Viber --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-viber&quot;&gt;
                  &lt;i class=&quot;ci-viber&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Telegram --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-telegram&quot;&gt;
                  &lt;i class=&quot;ci-telegram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- YouTube --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-youtube&quot;&gt;
                  &lt;i class=&quot;ci-youtube&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- YouTube outline --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-youtube&quot;&gt;
                  &lt;i class=&quot;ci-youtube-outline&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Vimeo --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-vimeo&quot;&gt;
                  &lt;i class=&quot;ci-vimeo&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- WeChat --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-wechat&quot;&gt;
                  &lt;i class=&quot;ci-wechat&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Discord --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-discord&quot;&gt;
                  &lt;i class=&quot;ci-discord&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- TikTok --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-tiktok&quot;&gt;
                  &lt;i class=&quot;ci-tiktok&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- WhatsApp --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-whatsapp&quot;&gt;
                  &lt;i class=&quot;ci-whatsapp&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug2.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Facebook
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-facebook
                  i.ci-facebook

                // Twitter
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-twitter
                  i.ci-twitter

                // Instagram
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-instagram
                  i.ci-instagram

                // Google
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-google
                  i.ci-google

                // LinkedIn
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-linkedin
                  i.ci-linkedin

                // Pinterest
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-pinterest
                  i.ci-pinterest

                // Tumblr
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-tumblr
                  i.ci-tumblr

                // Behance
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-behance
                  i.ci-behance

                // Dribbble
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-dribbble
                  i.ci-dribbble

                // VKontakte
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-vk
                  i.ci-vk

                // Odnoklassniki
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-odnoklassniki
                  i.ci-odnoklassniki

                // Skype
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-skype
                  i.ci-skype

                Hangouts
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-hangouts
                  i.ci-hangouts

                // Messenger
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-messenger
                  i.ci-messenger

                // Viber
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-viber
                  i.ci-viber

                // Telegram
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-telegram
                  i.ci-telegram

                // YouTube
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-youtube
                  i.ci-youtube

                // YouTube outline
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-youtube
                  i.ci-youtube-outline

                // Vimeo
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-vimeo
                  i.ci-vimeo

                // WeChat
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-wechat
                  i.ci-wechat

                // Discrod
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-discord
                  i.ci-discord

                // TikTok
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-tiktok
                  i.ci-tiktok

                // WhatsApp
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-whatsapp
                  i.ci-whatsapp

  // Round shape
  section#sb-round.pb-5.mb-md-2
    h2.h5.mb-3 Round shape
    .card.border-0.shadow
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result3' data-bs-toggle='tab' role='tab' aria-controls='result3' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html3' data-bs-toggle='tab' role='tab' aria-controls='html3' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug3' data-bs-toggle='tab' role='tab' aria-controls='pug3' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result3.tab-pane.fade.show.active(role='tabpanel')
            a(href='#').btn-social.rounded-circle.bs-facebook.me-2.mb-2
              i.ci-facebook
            a(href='#').btn-social.rounded-circle.bs-twitter.me-2.mb-2
              i.ci-twitter
            a(href='#').btn-social.rounded-circle.bs-instagram.me-2.mb-2
              i.ci-instagram
            a(href='#').btn-social.rounded-circle.bs-google.me-2.mb-2
              i.ci-google
            a(href='#').btn-social.rounded-circle.bs-linkedin.me-2.mb-2
              i.ci-linkedin
            a(href='#').btn-social.rounded-circle.bs-pinterest.me-2.mb-2
              i.ci-pinterest
            a(href='#').btn-social.rounded-circle.bs-tumblr.me-2.mb-2
              i.ci-tumblr
            a(href='#').btn-social.rounded-circle.bs-behance.me-2.mb-2
              i.ci-behance
            a(href='#').btn-social.rounded-circle.bs-dribbble.me-2.mb-2
              i.ci-dribbble
            a(href='#').btn-social.rounded-circle.bs-vk.me-2.mb-2
              i.ci-vk
            a(href='#').btn-social.rounded-circle.bs-odnoklassniki.me-2.mb-2
              i.ci-odnoklassniki
            a(href='#').btn-social.rounded-circle.bs-skype.me-2.mb-2
              i.ci-skype
            a(href='#').btn-social.rounded-circle.bs-hangouts.me-2.mb-2
              i.ci-hangouts
            a(href='#').btn-social.rounded-circle.bs-messenger.me-2.mb-2
              i.ci-messenger
            a(href='#').btn-social.rounded-circle.bs-viber.me-2.mb-2
              i.ci-viber
            a(href='#').btn-social.rounded-circle.bs-telegram.me-2.mb-2
              i.ci-telegram
            a(href='#').btn-social.rounded-circle.bs-youtube.me-2.mb-2
              i.ci-youtube
            a(href='#').btn-social.rounded-circle.bs-youtube.me-2.mb-2
              i.ci-youtube-outline
            a(href='#').btn-social.rounded-circle.bs-vimeo.me-2.mb-2
              i.ci-vimeo
            a(href='#').btn-social.rounded-circle.bs-wechat.me-2.mb-2
              i.ci-wechat
            a(href='#').btn-social.rounded-circle.bs-discord.me-2.mb-2
              i.ci-discord
            a(href='#').btn-social.rounded-circle.bs-tiktok.me-2.mb-2
              i.ci-tiktok
            a(href='#').btn-social.rounded-circle.bs-whatsapp.me-2.mb-2
              i.ci-whatsapp
            .pt-2
            a(href='#').btn-social.rounded-circle.bs-outline.bs-facebook.me-2.mb-2
              i.ci-facebook
            a(href='#').btn-social.rounded-circle.bs-outline.bs-twitter.me-2.mb-2
              i.ci-twitter
            a(href='#').btn-social.rounded-circle.bs-outline.bs-instagram.me-2.mb-2
              i.ci-instagram
            a(href='#').btn-social.rounded-circle.bs-outline.bs-google.me-2.mb-2
              i.ci-google
            a(href='#').btn-social.rounded-circle.bs-outline.bs-linkedin.me-2.mb-2
              i.ci-linkedin
            a(href='#').btn-social.rounded-circle.bs-outline.bs-pinterest.me-2.mb-2
              i.ci-pinterest
            a(href='#').btn-social.rounded-circle.bs-outline.bs-tumblr.me-2.mb-2
              i.ci-tumblr
            a(href='#').btn-social.rounded-circle.bs-outline.bs-behance.me-2.mb-2
              i.ci-behance
            a(href='#').btn-social.rounded-circle.bs-outline.bs-dribbble.me-2.mb-2
              i.ci-dribbble
            a(href='#').btn-social.rounded-circle.bs-outline.bs-vk.me-2.mb-2
              i.ci-vk
            a(href='#').btn-social.rounded-circle.bs-outline.bs-odnoklassniki.me-2.mb-2
              i.ci-odnoklassniki
            a(href='#').btn-social.rounded-circle.bs-outline.bs-skype.me-2.mb-2
              i.ci-skype
            a(href='#').btn-social.rounded-circle.bs-outline.bs-hangouts.me-2.mb-2
              i.ci-hangouts
            a(href='#').btn-social.rounded-circle.bs-outline.bs-messenger.me-2.mb-2
              i.ci-messenger
            a(href='#').btn-social.rounded-circle.bs-outline.bs-viber.me-2.mb-2
              i.ci-viber
            a(href='#').btn-social.rounded-circle.bs-outline.bs-telegram.me-2.mb-2
              i.ci-telegram
            a(href='#').btn-social.rounded-circle.bs-outline.bs-youtube.me-2.mb-2
              i.ci-youtube
            a(href='#').btn-social.rounded-circle.bs-outline.bs-youtube.me-2.mb-2
              i.ci-youtube-outline
            a(href='#').btn-social.rounded-circle.bs-outline.bs-vimeo.me-2.mb-2
              i.ci-vimeo
            a(href='#').btn-social.rounded-circle.bs-outline.bs-wechat.me-2.mb-2
              i.ci-wechat
            a(href='#').btn-social.rounded-circle.bs-outline.bs-discord.me-2.mb-2
              i.ci-discord
            a(href='#').btn-social.rounded-circle.bs-outline.bs-tiktok.me-2.mb-2
              i.ci-tiktok
            a(href='#').btn-social.rounded-circle.bs-outline.bs-whatsapp.me-2.mb-2
              i.ci-whatsapp
          #html3.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Round solid button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social rounded-circle bs-facebook&quot;&gt;
                  &lt;i class=&quot;ci-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round outline button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social rounded-circle bs-outline bs-facebook&quot;&gt;
                  &lt;i class=&quot;ci-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug3.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Round solid button
                a(href=&quot;#&quot;).btn-social.rounded-circle.bs-facebook
                  i.ci-facebook
                // Round outline button
                a(href=&quot;#&quot;).btn-social.rounded-circle.bs-outline.bs-facebook
                  i.ci-facebook

  // Sizing
  section#sb-sizing.pb-5.mb-md-2
    h2.h5.mb-3 Sizing
    .card.border-0.shadow
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result4' data-bs-toggle='tab' role='tab' aria-controls='result4' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html4' data-bs-toggle='tab' role='tab' aria-controls='html4' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug4' data-bs-toggle='tab' role='tab' aria-controls='pug4' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result4.tab-pane.fade.show.active(role='tabpanel')
            .d-inline-block.align-middle.me-3.py-1
              a(href='#').btn-social.bs-dribbble.bs-lg.me-2.align-middle
                i.ci-dribbble
              a(href='#').btn-social.bs-dribbble.me-2.align-middle
                i.ci-dribbble
              a(href='#').btn-social.bs-dribbble.bs-sm.me-2.align-middle
                i.ci-dribbble
            .d-inline-block.align-middle.py-1
              a(href='#').btn-social.bs-instagram.bs-outline.bs-lg.me-2.align-middle
                i.ci-instagram
              a(href='#').btn-social.bs-instagram.bs-outline.me-2.align-middle
                i.ci-instagram
              a(href='#').btn-social.bs-instagram.bs-outline.bs-sm.me-2.align-middle
                i.ci-instagram
            .pt-3
            .d-inline-block.align-middle.me-3.py-1
              a(href='#').btn-social.bs-skype.rounded-circle.bs-lg.me-2.align-middle
                i.ci-skype
              a(href='#').btn-social.bs-skype.rounded-circle.me-2.align-middle
                i.ci-skype
              a(href='#').btn-social.bs-skype.rounded-circle.bs-sm.me-2.align-middle
                i.ci-skype
            .d-inline-block.align-middle.py-1
              a(href='#').btn-social.bs-pinterest.rounded-circle.bs-outline.bs-lg.me-2.align-middle
                i.ci-pinterest
              a(href='#').btn-social.bs-pinterest.rounded-circle.bs-outline.me-2.align-middle
                i.ci-pinterest
              a(href='#').btn-social.bs-pinterest.rounded-circle.bs-outline.bs-sm.me-2.align-middle
                i.ci-pinterest
          #html4.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Solid large button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-dribbble bs-lg&quot;&gt;
                  &lt;i class=&quot;ci-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Solid medium button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-dribbble&quot;&gt;
                  &lt;i class=&quot;ci-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Solid small button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-dribbble bs-sm&quot;&gt;
                  &lt;i class=&quot;ci-dribbble&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Outline large button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-instagram bs-outline bs-lg&quot;&gt;
                  &lt;i class=&quot;ci-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                
                &lt;!-- Outline medium button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-instagram bs-outline&quot;&gt;
                  &lt;i class=&quot;ci-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Outline small button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-instagram bs-outline bs-sm&quot;&gt;
                  &lt;i class=&quot;ci-instagram&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round solid large button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-skype rounded-circle bs-lg&quot;&gt;
                  &lt;i class=&quot;ci-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round solid medium button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-skype rounded-circle&quot;&gt;
                  &lt;i class=&quot;ci-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round solid small button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-skype rounded-circle bs-sm&quot;&gt;
                  &lt;i class=&quot;ci-skype&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round outline large button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-pinterest rounded-circle bs-outline bs-lg&quot;&gt;
                  &lt;i class=&quot;ci-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round outline medium button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-pinterest rounded-circle bs-outline&quot;&gt;
                  &lt;i class=&quot;ci-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Round outline small button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-pinterest rounded-circle bs-outline bs-sm&quot;&gt;
                  &lt;i class=&quot;ci-pinterest&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug4.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Solid large button
                a(href=&quot;#&quot;).btn-social.bs-dribbble.bs-lg
                  i.ci-dribbble

                // Solid medium button
                a(href=&quot;#&quot;).btn-social.bs-dribbble
                  i.ci-dribbble

                // Solid small button
                a(href=&quot;#&quot;).btn-social.bs-dribbble.bs-sm
                  i.ci-dribbble
                
                // Outline large button
                a(href=&quot;#&quot;).btn-social.bs-instagram.bs-outline.bs-lg
                  i.ci-instagram
                
                // Outline medium button
                a(href=&quot;#&quot;).btn-social.bs-instagram.bs-outline
                  i.ci-instagram
                
                // Outline small button
                a(href=&quot;#&quot;).btn-social.bs-instagram.bs-outline.bs-sm
                  i.ci-instagram
                
                // Round solid large button
                a(href=&quot;#&quot;).btn-social.bs-skype.rounded-circle.bs-lg
                  i.ci-skype
                
                // Round solid medium button
                a(href=&quot;#&quot;).btn-social.bs-skype.rounded-circle
                  i.ci-skype
                
                // Round solid small button
                a(href=&quot;#&quot;).btn-social.bs-skype.rounded-circle.bs-sm
                  i.ci-skype
                
                // Round outline large button
                a(href=&quot;#&quot;).btn-social.bs-pinterest.rounded-circle.bs-outline.bs-lg
                  i.ci-pinterest
                
                // Round outline medium button
                a(href=&quot;#&quot;).btn-social.bs-pinterest.rounded-circle.bs-outline
                  i.ci-pinterest
                
                // Round outline small button
                a(href=&quot;#&quot;).btn-social.bs-pinterest.rounded-circle.bs-outline.bs-sm
                  i.ci-pinterest

  // Light version
  section#sb-light.pb-5.mb-md-2
    h2.h5.mb-3 Light version
    .card.border-0.shadow
      .card-header
        ul(role='tablist').nav.nav-tabs.card-header-tabs
          li.nav-item
            a(href='#result5' data-bs-toggle='tab' role='tab' aria-controls='result5' aria-selected='true').nav-link.active Result
          li.nav-item
            a(href='#html5' data-bs-toggle='tab' role='tab' aria-controls='html5' aria-selected='false').nav-link HTML
          li.nav-item
            a(href='#pug5' data-bs-toggle='tab' role='tab' aria-controls='pug5' aria-selected='false').nav-link Pug
      .card-body
        .tab-content
          #result5.tab-pane.bg-dark.pt-5.px-4.pb-4.fade.show.active(style='margin: -1.25rem;' role='tabpanel')
            a(href='#').btn-social.bs-facebook.bs-light.me-2.mb-2
              i.ci-facebook
            a(href='#').btn-social.bs-twitter.bs-light.me-2.mb-2
              i.ci-twitter
            a(href='#').btn-social.bs-instagram.bs-light.me-2.mb-2
              i.ci-instagram
            a(href='#').btn-social.bs-google.bs-light.me-2.mb-2
              i.ci-google
            a(href='#').btn-social.bs-linkedin.bs-light.me-2.mb-2
              i.ci-linkedin
            a(href='#').btn-social.bs-pinterest.bs-light.me-2.mb-2
              i.ci-pinterest
            a(href='#').btn-social.bs-tumblr.bs-light.me-2.mb-2
              i.ci-tumblr
            a(href='#').btn-social.bs-behance.bs-light.me-2.mb-2
              i.ci-behance
            a(href='#').btn-social.bs-dribbble.bs-light.me-2.mb-2
              i.ci-dribbble
            a(href='#').btn-social.bs-vk.bs-light.me-2.mb-2
              i.ci-vk
            a(href='#').btn-social.bs-odnoklassniki.bs-light.me-2.mb-2
              i.ci-odnoklassniki
            a(href='#').btn-social.bs-skype.bs-light.me-2.mb-2
              i.ci-skype
            a(href='#').btn-social.bs-hangouts.bs-light.me-2.mb-2
              i.ci-hangouts
            a(href='#').btn-social.bs-messenger.bs-light.me-2.mb-2
              i.ci-messenger
            a(href='#').btn-social.bs-viber.bs-light.me-2.mb-2
              i.ci-viber
            a(href='#').btn-social.bs-telegram.bs-light.me-2.mb-2
              i.ci-telegram
            a(href='#').btn-social.bs-youtube.bs-light.me-2.mb-2
              i.ci-youtube
            a(href='#').btn-social.bs-youtube.bs-light.me-2.mb-2
              i.ci-youtube-outline
            a(href='#').btn-social.bs-vimeo.bs-light.me-2.mb-2
              i.ci-vimeo
            a(href='#').btn-social.bs-wechat.bs-light.me-2.mb-2
              i.ci-wechat
            a(href='#').btn-social.bs-discord.bs-light.me-2.mb-2
              i.ci-discord
            a(href='#').btn-social.bs-tiktok.bs-light.me-2.mb-2
              i.ci-tiktok
            a(href='#').btn-social.bs-whatsapp.bs-light.me-2.mb-2
              i.ci-whatsapp
            .pt-3
            a(href='#').btn-social.bs-outline.bs-facebook.bs-light.me-2.mb-2
              i.ci-facebook
            a(href='#').btn-social.bs-outline.bs-twitter.bs-light.me-2.mb-2
              i.ci-twitter
            a(href='#').btn-social.bs-outline.bs-instagram.bs-light.me-2.mb-2
              i.ci-instagram
            a(href='#').btn-social.bs-outline.bs-google.bs-light.me-2.mb-2
              i.ci-google
            a(href='#').btn-social.bs-outline.bs-linkedin.bs-light.me-2.mb-2
              i.ci-linkedin
            a(href='#').btn-social.bs-outline.bs-pinterest.bs-light.me-2.mb-2
              i.ci-pinterest
            a(href='#').btn-social.bs-outline.bs-tumblr.bs-light.me-2.mb-2
              i.ci-tumblr
            a(href='#').btn-social.bs-outline.bs-behance.bs-light.me-2.mb-2
              i.ci-behance
            a(href='#').btn-social.bs-outline.bs-dribbble.bs-light.me-2.mb-2
              i.ci-dribbble
            a(href='#').btn-social.bs-outline.bs-vk.bs-light.me-2.mb-2
              i.ci-vk
            a(href='#').btn-social.bs-outline.bs-odnoklassniki.bs-light.me-2.mb-2
              i.ci-odnoklassniki
            a(href='#').btn-social.bs-outline.bs-skype.bs-light.me-2.mb-2
              i.ci-skype
            a(href='#').btn-social.bs-outline.bs-hangouts.bs-light.me-2.mb-2
              i.ci-hangouts
            a(href='#').btn-social.bs-outline.bs-messenger.bs-light.me-2.mb-2
              i.ci-messenger
            a(href='#').btn-social.bs-outline.bs-viber.bs-light.me-2.mb-2
              i.ci-viber
            a(href='#').btn-social.bs-outline.bs-telegram.bs-light.me-2.mb-2
              i.ci-telegram
            a(href='#').btn-social.bs-outline.bs-youtube.bs-light.me-2.mb-2
              i.ci-youtube
            a(href='#').btn-social.bs-outline.bs-youtube.bs-light.me-2.mb-2
              i.ci-youtube-outline
            a(href='#').btn-social.bs-outline.bs-vimeo.bs-light.me-2.mb-2
              i.ci-vimeo
            a(href='#').btn-social.bs-outline.bs-wechat.bs-light.me-2.mb-2
              i.ci-wechat
            a(href='#').btn-social.bs-outline.bs-discord.bs-light.me-2.mb-2
              i.ci-discord
            a(href='#').btn-social.bs-outline.bs-tiktok.bs-light.me-2.mb-2
              i.ci-tiktok
            a(href='#').btn-social.bs-outline.bs-whatsapp.bs-light.me-2.mb-2
              i.ci-whatsapp
          #html5.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-html').
                &lt;!-- Solid light button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-facebook bs-light&quot;&gt;
                  &lt;i class=&quot;ci-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;

                &lt;!-- Outline light button --&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-social bs-outline bs-facebook bs-light&quot;&gt;
                  &lt;i class=&quot;ci-facebook&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
          #pug5.tab-pane.fade(role='tabpanel')
            pre.line-numbers
              code(class='lang-pug').
                // Solid light button
                a(href=&quot;#&quot;).btn-social.bs-facebook.bs-light
                  i.ci-facebook

                // Outline light button
                a(href=&quot;#&quot;).btn-social.bs-outline.bs-facebook.bs-light
                  i.ci-facebook
