//- Vendor scripts and styles
- var vendorStyles = []
- var vendorScripts = []

//- Page title
- var pageTitle = 'Multipurpose Bootstrap E-commerce Template'
- var pageSubtitle = ''
- var pageTitleLink = {}

//- Breadcrumbs
- var breadcrumbs = []

//- Anchor navigation
- var anchorNav = []

//- Conditionals
- var isPageTitleBadge = false
- var isNestedFile = false
- var isToolbar = true

//- Active menu item
- var parentMenu
